<app-navbar></app-navbar>
<div class="card surface-0 shadow-2 border-round-2xl" style="margin: 1rem">
  <p-table
    #devPlanTable
    [scrollable]="true"
    scrollHeight="345px"
    [value]="data.content"
    dataKey="id"
    [rows]="rows"
    [first]="first"
    lazy="true"
    [totalRecords]="data.page_info?.total_records ?? 0"
    [loading]="loading"
    [paginator]="true"
    [rowsPerPageOptions]="[5, 10, 15]"
    [tableStyle]="{
      'min-width': '50rem',
      'text-align': 'center',
      'font-size': '12px',
      margin: '0',
      'border-radius': '8px',
      'table-layout': 'fixed'
    }"
    [style]="{ width: '100%' }"
    (onLazyLoad)="getDevPlans($event)"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-button
          id="btn-modal"
          (onClick)="showDialog()"
          label="Add Dev Plan"
          icon="pi pi-plus"
          [style]="{ 'font-size': '12px', padding: '10px 16px' }"
        />
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            placeholder="Search by plan"
            (keydown.enter)="onGlobalFilter(devPlanTable, $event)"
            [style]="{ 'font-size': '14px' }"
          />
        </p-iconField>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 60%; text-align: center" pSortableColumn="name">
          Plan
          <p-sortIcon field="name" />
        </th>
        <th style="width: 15%; text-align: center">Status</th>
        <th style="width: 25%; text-align: center">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr [style]="{ padding: '0.5rem', 'font-size': '15px' }">
        <td [style]="{ padding: '0.5rem' }">{{ data.plan }}</td>
        <td [style]="{ padding: '0.5rem', 'text-align': 'center' }">
          <p-tag [severity]="data.enabled === true ? 'success' : 'danger'">
            {{ data.enabled === true ? "Enabled" : "Disabled" }}
          </p-tag>
        </td>
        <td
          style="
            justify-content: space-evenly;
            display: flex;
            align-items: center;
          "
          [style]="{ padding: '0.5rem' }"
        >
          <p-button
            (onClick)="showDialogDetail(data)"
            label=""
            icon="pi pi-info-circle"
            [rounded]="true"
            [raised]="true"
            [style]="{ height: '40px', width: '40px' }"
          />
          <p-button
            (onClick)="showEditDialog(data)"
            severity="success"
            icon="pi pi-pen-to-square"
            [rounded]="true"
            [raised]="true"
            [style]="{ height: '40px', width: '40px' }"
          ></p-button>
          <p-button
            (onClick)="confirmDelete($event, data.id)"
            [outlined]="true"
            severity="danger"
            icon="pi pi-trash"
            [rounded]="true"
            [raised]="true"
            [style]="{ height: '40px', width: '40px' }"
          ></p-button>
        </td>
        <p-confirmDialog key="{{ data.id }}" />
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3" class="text-center p-4">
          <div class="flex flex-column align-items-center gap-2">
            <i class="pi pi-info-circle text-4xl text-primary"></i>
            <span class="font-semibold text-lg"
              >No development plans data available</span
            >
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="Add Dev Plan"
    [(visible)]="visible"
    [style]="{ width: '30rem' }"
  >
    <form #devPlanForm="ngForm" (submit)="createDevPlan()">
      <div class="flex align-items-center gap-4 mb-4">
        <label for="Plan" class="font-semibold w-6rem">
          Plan<span class="text-red-600">*</span>
        </label>
        <div class="flex-auto">
          <input
            pInputText
            id="Plan"
            class="w-full"
            autocomplete="off"
            [(ngModel)]="newDevPlan.plan"
            required
            maxlength="100"
            pattern=".*\S.*"
            name="plan"
            #planInput="ngModel"
          />
          <div
            *ngIf="planInput.invalid && (planInput.dirty || planInput.touched)"
          >
            <small
              class="p-error block mt-1"
              *ngIf="planInput.errors?.['required'] || planInput.errors?.['pattern']"
            >
              Plan name can't be empty!
            </small>
            <small
              class="p-error block mt-1"
              *ngIf="planInput.errors?.['maxlength']"
            >
              Plan cannot exceed 100 characters
            </small>
          </div>
        </div>
      </div>
      <div class="flex align-items-center gap-4 mb-5">
        <label for="Enabled" class="font-semibold w-6rem">
          Enabled<span class="text-red-600">*</span>
        </label>
        <p-toggleButton
          [(ngModel)]="newDevPlan.enabled"
          inputId="binary"
          requied
          name="enabled"
          onLabel="Enable"
          offLabel="Disable"
        />
      </div>
      <div class="flex justify-content-end gap-2">
        <p-button
          label="Cancel"
          severity="secondary"
          (onClick)="visible = false"
        />
        <p-button
          label="Save"
          type="submit"
          [disabled]="devPlanForm.invalid"
          [loading]="isButtonLoading"
        />
      </div>
    </form>
  </p-dialog>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="Edit Dev Plan"
    [(visible)]="editVisible"
    [style]="{ width: '30rem' }"
  >
    <form #updateDevPlanForm="ngForm" (submit)="updateDevPlan()">
      <div class="flex align-items-center gap-4 mb-4">
        <label
          for="Dev Plan"
          class="font-semibold w-6rem"
          style="width: 8rem; white-space: nowrap"
        >
          Dev Plan<span class="text-red-600">*</span>
        </label>
        <div class="flex-auto">
          <input
            [(ngModel)]="editData.plan"
            pInputText
            id="Dev Plan"
            class="w-full"
            autocomplete="off"
            required
            maxlength="100"
            pattern=".*\S.*"
            name="dev_plan"
            #editPlanInput="ngModel"
          />
          <div
            *ngIf="
              editPlanInput.invalid &&
              (editPlanInput.dirty || editPlanInput.touched)
            "
          >
            <small
              class="p-error block mt-1"
              *ngIf="editPlanInput.errors?.['required'] || editPlanInput.errors?.['pattern']"
            >
              Plan name can't be empty!
            </small>
            <small
              class="p-error block mt-1"
              *ngIf="editPlanInput.errors?.['maxlength']"
            >
              Plan cannot exceed 100 characters
            </small>
          </div>
        </div>
      </div>
      <div class="flex align-items-center gap-4 mb-5">
        <label for="Enabled" class="font-semibold w-6rem">
          Enabled<span class="text-red-600">*</span>
        </label>
        <p-toggleButton
          [(ngModel)]="editData.enabled"
          inputId="binary"
          requied
          name="enabled"
          onLabel="Enable"
          offLabel="Disable"
        />
      </div>
      <div class="flex justify-content-end gap-2">
        <p-button
          label="Cancel"
          severity="secondary"
          (onClick)="editVisible = false"
        />
        <p-button
          label="Save"
          type="submit"
          [disabled]="updateDevPlanForm.invalid"
          [loading]="isButtonLoading"
        />
      </div>
    </form>
  </p-dialog>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="Dev Plan Detail"
    [modal]="true"
    [(visible)]="detailVisible"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  >
    <div class="card">
      <p-table
        #devPlanTable
        [value]="[dataDetail]"
        dataKey="id"
        [loading]="loading"
        [tableStyle]="{
          'min-width': '50rem',
          'text-align': 'center',
          'font-size': '12px',
          margin: '0'
        }"
      >
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>ID</td>
            <td>{{ data.id }}</td>
          </tr>
          <tr>
            <td>Plan</td>
            <td>{{ data.plan }}</td>
          </tr>
          <tr>
            <td>Enabled</td>
            <td>
              <p-tag [severity]="data.enabled === true ? 'success' : 'danger'">
                {{ data.enabled === true ? "True" : "False" }}
              </p-tag>
            </td>
          </tr>
          <tr>
            <td>Created At</td>
            <td>{{ (data.created_at | date : "long") || "Unknown" }}</td>
          </tr>
          <tr>
            <td>Created By</td>
            <td>{{ data.created_by?.full_name || "Unknown" }}</td>
          </tr>
          <tr>
            <td>Updated At</td>
            <td>{{ (data.updated_at | date : "long") || "-" }}</td>
          </tr>
          <tr>
            <td>Updated By</td>
            <td>
              {{
                data.updated_by?.full_name ||
                  (data.updated_at ? "Unknown" : "-")
              }}
            </td>
          </tr></ng-template
        >
      </p-table>
    </div>
  </p-dialog>
</div>
