<app-navbar/>
<div class="flex flex-column align-items-center">
  <div class="flex justify-content-between align-items-center w-8 mb-4">
    <h2 class="text-800 font-bold m-0">Menu Access Management</h2>
    <p-button
      label="Save"
      (onClick)="onSubmit()"
      icon="pi pi-save"
      severity="primary"
      [raised]="true"
    />
  </div>

  <div class="card shadow-2" style="width: 80%">
    <p-table
      [value]="menus"
      [scrollable]="true"
      scrollHeight="400px"
      [tableStyle]="{ 'min-width': '50rem' }"
      styleClass="p-datatable-sm"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="text-left font-bold text-800">Menu</th>
          @for (role of roles; track role.id) {
          <th class="text-center font-bold text-800">
            {{ role.role_name }}
          </th>
          }
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-menu>
        <tr class="hover:surface-100">
          <td class="text-left font-medium">
            {{ menuToReadable[menu.menu_name] }}
          </td>
          @for (role of roles; track role.id) {
          <td class="text-center">
            <p-checkbox
              [(ngModel)]="roleMenus[role.id]"
              [value]="menu"
              name="group"
              class="cursor-pointer"
            />
          </td>
          }
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
