<div class="flex flex-column md:flex-row">
  <div
    class="w-full md:w-5 flex flex-column align-items-center justify-content-center gap-3 py-5"
  >
    <h1>tes</h1>
  </div>
  <div class="w-full md:w-2">
    <p-divider layout="vertical" styleClass="hidden md:flex"> </p-divider>
    <p-divider
      layout="horizontal"
      styleClass="flex md:hidden"
      [align]="'center'"
    >
      <b>OR</b>
    </p-divider>
  </div>
  <div class="card flex">
    <div class="surface-card">
      <h1>Login</h1>
      <form #loginForm="ngForm" (submit)="onSubmit()">
        <div class="field">
          <span class="p-float-label">
            <input
              id="email_or_username"
              type="text"
              pInputText
              name="email_or_username"
              [(ngModel)]="loginData.email_or_username"
              required
            />
            <label for="username">Username or Email</label>
          </span>
        </div>
        <div class="field">
          <span class="p-float-label">
            <input
              id="password"
              type="password"
              name="password"
              pInputText
              [(ngModel)]="loginData.password"
              required
              minlength="8"
              maxlength="32"
            />
            <label for="password">Password</label>
          </span>
        </div>
        <div class="button-login">
          <p-button
            type="submit"
            label="Login"
            severity="primary"
            [disabled]="loginForm.invalid"
          />
        </div>
      </form>
    </div>
  </div>
</div>
