<div class="card flex">
    <div class="surface-card ">
        <h1>Login</h1>
        <form>
            <div class="field">
                <span class="p-float-label">
                    <input id="username" type="text" pInputText />
                    <label for="username">Username or Email</label>
                </span>
            </div>
            <div class="field">

                <span class="p-float-label">
                    <input id="password" type="password" pInputText />
                    <label for="password">Password</label>
                </span>
            </div>
            <div class="button-login">
                <p-button label="Login" severity="primary" [routerLink]="['/main']"/>
            </div>
        </form>
    </div>
</div>
