<app-navbar></app-navbar>
<div class="card surface-0 shadow-2 border-round-2xl" style="margin: 1rem">
  <p-table
    #divisionTable
    [scrollable]="true"
    scrollHeight="345px"
    [value]="datas"
    dataKey="id"
    [rows]="10"
    [loading]="loading"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [tableStyle]="{
      'min-width': '50rem',
      'text-align': 'center',
      'font-size': '12px',
      'border-radius': '8px',
      'table-layout': 'fixed',
    }"
    [style]="{ width: '100%' }"
    [globalFilterFields]="['division_name']"
    [sortField]="'created_at'"
    [sortOrder]="-1"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-button
          id="btn-modal"
          (onClick)="showDialog()"
          label="Add Division"
          icon="pi pi-plus"
          [style]="{ 'font-size': '12px', padding: '10px 16px' }"
        />
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            placeholder="Search by division name"
            (input)="onGlobalFilter(divisionTable, $event)"
            [style]="{ 'font-size': '14px' }"
          />
        </p-iconField>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr style="align-items: center">
        <th style="width: 75%" class="custom-header">Division Name</th>
        <th style="width: 25%" class="custom-header">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr [style]="{ padding: '0.5rem' }">
        <td [style]="{ padding: '0.5rem' }">{{ data.division_name }}</td>
        <td
          style="
            justify-content: space-evenly;
            display: flex;
            align-items: center;
          "
          [style]="{ padding: '0.5rem' }"
        >
          <p-button
            (onClick)="showDialogDetail(data)"
            label=""
            icon="pi pi-info-circle"
            [rounded]="true"
            [raised]="true"
            [style]="{ height: '40px', width: '40px' }"
          />
          <p-button
            (onClick)="showEditDialog(data)"
            severity="success"
            icon="pi pi-pen-to-square"
            [rounded]="true"
            [raised]="true"
            [style]="{ height: '40px', width: '40px' }"
          ></p-button>
          <p-button
            (onClick)="confirmDelete($event, data.id)"
            [outlined]="true"
            severity="danger"
            icon="pi pi-trash"
            [rounded]="true"
            [raised]="true"
            [style]="{ height: '40px', width: '40px' }"
          ></p-button>
        </td>
        <p-confirmDialog key="{{ data.id }}" />
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" class="text-center p-4">
          <div class="flex flex-column align-items-center gap-2">
            <i class="pi pi-info-circle text-4xl text-primary"></i>
            <span class="font-semibold text-lg"
              >No division data available</span
            >
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="Add Division"
    [(visible)]="visible"
    [style]="{ width: '30rem' }"
  >
    <form #divisionForm="ngForm" (submit)="createDivision()">
      <div class="flex align-items-center gap-6 mb-2">
        <label
          for="Division Name"
          class="font-semibold w-6rem"
          style="width: 8rem; white-space: nowrap"
        >
          Division Name<span class="text-red-600">*</span>
        </label>
        <div class="flex-auto">
          <input
            pInputText
            id="Division Name"
            class="w-full"
            autocomplete="off"
            [(ngModel)]="newDivision.division_name"
            required
            pattern=".*\S.*"
            maxlength="50"
            name="Division_name"
            #divisionName="ngModel"
          />
          <small
            class="p-error block mt-2"
            *ngIf="
              divisionName.invalid &&
              (divisionName.dirty || divisionName.touched)
            "
          >
            Division name can't be empty!
          </small>
        </div>
      </div>

      <div class="flex justify-content-end gap-2">
        <p-button
          label="Cancel"
          severity="secondary"
          (onClick)="visible = false"
        />
        <p-button
          label="Save"
          type="submit"
          [disabled]="divisionForm.invalid"
        />
      </div>
    </form>
  </p-dialog>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="Edit Division"
    [(visible)]="editVisible"
    [style]="{ width: '30rem' }"
  >
    <form #editDivisionForm="ngForm" (submit)="updateDivision()">
      <div class="flex align-items-center gap-6 mb-5">
        <label
          for="Division name"
          class="font-semibold w-6rem"
          style="width: 8rem; white-space: nowrap"
        >
          Division Name<span class="text-red-600">*</span>
        </label>
        <div class="flex-auto">
          <input
            [(ngModel)]="editData.division_name"
            pInputText
            id="Division Name"
            name="Division_name"
            class="w-full"
            autocomplete="off"
            pattern=".*\S.*"
            required
            maxlength="50"
            #editDivisionName="ngModel"
          />
          <small
            class="p-error block mt-1"
            *ngIf="
              editDivisionName.invalid &&
              (editDivisionName.dirty || editDivisionName.touched)
            "
          >
            Division name can't be empty!
          </small>
        </div>
      </div>
      <div class="flex justify-content-end gap-2">
        <p-button
          label="Cancel"
          severity="secondary"
          (onClick)="editVisible = false"
        />
        <p-button
          label="Save"
          [disabled]="editDivisionForm.invalid"
          type="submit"
        />
      </div>
    </form>
  </p-dialog>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="Division Detail"
    [modal]="true"
    [(visible)]="detailVisible"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  >
    <div class="card">
      <p-table
        #divisionTable
        [value]="[dataDetail]"
        dataKey="id"
        [loading]="loading"
        [tableStyle]="{
          'min-width': '10rem',
          'text-align': 'center',
          'font-size': '12px',
          margin: '0',
        }"
      >
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>ID</td>
            <td>{{ data.id }}</td>
          </tr>
          <tr>
            <td>Division Name</td>
            <td>{{ data.division_name }}</td>
          </tr>
          <tr>
            <td>Created At</td>
            <td>{{ (data.created_at | date : "long") || "Unknown" }}</td>
          </tr>
          <tr>
            <td>Created By</td>
            <td>{{ data.created_by?.full_name || "Unknown" }}</td>
          </tr>
          <tr>
            <td>Updated At</td>
            <td>{{ (data.updated_at | date : "long") || "-" }}</td>
          </tr>
          <tr>
            <td>Updated By</td>
            <td>
              {{
                data.updated_by?.full_name ||
                  (data.updated_at ? "Unknown" : "-")
              }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-dialog>
</div>

<p-toast />
