btn-modal {
  margin-left: 10px;
}
:host ::ng-deep .custom-header {
  text-align: center;
}
:host ::ng-deep {
  .p-datatable-header {
    border-radius: 8px;
  }
  .p-paginator {
    border-radius: 8px;
  }
}
:host ::ng-deep {
  .division-dialog {
    z-index: 900 !important; // Lower than SweetAlert (1000)
  }
}
