btn-modal {
  margin-left: 10px;
}
:host ::ng-deep .custom-header {
  text-align: center;
}
:host ::ng-deep {
  .p-datatable-header {
    border-radius: 8px;
  }
  .p-paginator {
    border-radius: 8px;
  }
}

:host ::ng-deep {
  .p-datatable .p-datatable-thead > tr > th {
    font-size: 16px;
  }
}
