<app-navbar></app-navbar>
<div class="card">
  <p-table
    #achievementTable
    [scrollable]="true"
    scrollHeight="360px"
    [value]="Datas"
    dataKey="id"
    [rows]="10"
    [loading]="loading"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [tableStyle]="{
      'min-width': '50rem',
      'text-align': 'center',
      'font-size': '12px',
      margin: '0'
    }"
    [globalFilterFields]="[
      'id',
      'achievement',
      'group_id.group_name',
      'percentage',
      'enabled'
    ]"
    [sortField]="'created_at'"
    [sortOrder]="-1"
    rowGroupMode="subheader"
    groupRowsBy="group_id.group_name"
    [expandedRowKeys]="expandedRows"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-button
          id="btn-modal"
          (onClick)="showDialog()"
          label="Add Achievement"
          icon="pi pi-plus"
          [style]="{ 'font-size': '12px', padding: '10px 16px' }"
        />
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            placeholder="Search keyword"
            (input)="onGlobalFilter(achievementTable, $event)"
            [style]="{ 'font-size': '14px' }"
          />
        </p-iconField>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Achievement</th>
        <th>Percentage</th>
        <th>Enabled</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="groupheader" let-data let-expanded="expanded">
      <tr [pRowToggler]="data" class="cursor-pointer">
        <td colspan="4">
          <div class="flex align-items-center gap-2 pl-2">
            <i
              [class]="[
                'mr-2',
                'pi',
                expanded ? 'pi-chevron-down' : 'pi-chevron-right'
              ]"
            ></i>
            <span class="font-bold text-xl text-primary">
              {{ data.group_id.group_name }}
            </span>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-data>
      <tr [style]="{ padding: '0.5rem' }">
        <td [style]="{ padding: '0.5rem' }">{{ data.achievement }}</td>
        <td [style]="{ padding: '0.5rem' }">{{ data.group_id?.percentage }}</td>
        <td [style]="{ padding: '0.5rem' }">
          <p-tag [severity]="data.enabled === true ? 'success' : 'danger'">
            {{ data.enabled === true ? "True" : "False" }}
          </p-tag>
        </td>
        <td
          style="
            justify-content: space-evenly;
            display: flex;
            align-items: center;
          "
          [style]="{ padding: '0.5rem' }"
        >
          <p-button
            (onClick)="showDialogDetail(data)"
            label=""
            icon="pi pi-info-circle"
            [rounded]="true"
            [raised]="true"
            [style]="{ height: '40px', width: '40px' }"
          />
          <p-button
            (onClick)="showEditDialog(data)"
            severity="success"
            icon="pi pi-pen-to-square"
            [rounded]="true"
            [raised]="true"
            [style]="{ height: '40px', width: '40px' }"
          ></p-button>
          <p-button
            (onClick)="confirmDelete($event, data.id)"
            [outlined]="true"
            severity="danger"
            icon="pi pi-trash"
            [rounded]="true"
            [raised]="true"
            [style]="{ height: '40px', width: '40px' }"
          >
          </p-button>
        </td>
        <p-confirmDialog key="{{ data.id }}" />
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4" class="text-center p-4">
          <div class="flex flex-column align-items-center gap-2">
            <i class="pi pi-info-circle text-4xl text-primary"></i>
            <span class="font-semibold text-lg"
              >No achievement data available</span
            >
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="Add Achievement"
    [(visible)]="visible"
    [style]="{ width: '30rem' }"
  >
    <form #achievementForm="ngForm" (submit)="createAchievement()">
      <div class="flex align-items-center gap-6 mb-5">
        <label for="Achievement" class="font-semibold w-6rem">
          Achievement<span class="text-red-600">*</span>
        </label>
        <input
          pInputText
          id="Achievement"
          class="flex-auto"
          autocomplete="off"
          [(ngModel)]="newAchievement.achievement"
          required
          maxlength="100"
          name="achievement"
          required
        />
      </div>
      <div class="flex align-items-center gap-6 mb-5">
        <label
          for="group id"
          class="font-semibold w-6rem"
          style="width: 12rem; white-space: nowrap"
        >
          Group Name<span class="text-red-600">*</span>
        </label>
        <p-dropdown
          [options]="groupAchievementDropdown"
          [(ngModel)]="newAchievement.group_id"
          optionLabel="group_name"
          optionValue="id"
          placeholder="Select a group name"
          required
          name="group name"
        />
      </div>
      <div class="flex align-items-center gap-6 mb-5">
        <label for="enabled" class="font-semibold w-6rem">
          Enabled<span class="text-red-600">*</span>
        </label>
        <p-checkbox
          [(ngModel)]="newAchievement.enabled"
          [binary]="true"
          inputId="binary"
          required
          name="enabled"
        />
      </div>
      <div class="flex justify-content-end gap-2">
        <p-button
          label="Cancel"
          severity="secondary"
          (onClick)="visible = false"
        />
        <p-button
          label="Save"
          (onClick)="visible = false"
          type="submit"
          [disabled]="achievementForm.invalid"
        />
      </div>
    </form>
  </p-dialog>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="Edit Achievement"
    [(visible)]="editVisible"
    [style]="{ width: '30rem' }"
  >
    <form #updateAchievementForm="ngForm" (submit)="updateAchievement()">
      <div class="flex align-items-center gap-6 mb-5">
        <label for="Attitude Skill" class="font-semibold w-6rem">
          Achievement<span class="text-red-600">*</span>
        </label>
        <input
          [(ngModel)]="editData.achievement"
          pInputText
          id="Attitude Skill"
          class="flex-auto"
          autocomplete="off"
          required
          maxlength="100"
          name="achievement"
        />
      </div>
      <div class="flex align-items-center gap-6 mb-5">
        <label
          for="Group name"
          class="font-semibold w-6rem"
          style="width: 12rem; white-space: nowrap"
        >
          Group Name<span class="text-red-600">*</span>
        </label>
        <p-dropdown
          [options]="groupAchievementDropdown"
          [(ngModel)]="editData.group_id"
          optionLabel="group_name"
          optionValue="id"
          placeholder="Select a group name"
          required
          name="group_name"
        />
      </div>
      <div class="flex align-items-center gap-6 mb-5">
        <label for="Enabled" class="font-semibold w-6rem">
          Enabled<span class="text-red-600">*</span>
        </label>
        <p-checkbox
          [(ngModel)]="editData.enabled"
          [binary]="true"
          inputId="binary"
          required
          name="enabled"
        />
      </div>
      <div class="flex justify-content-end gap-2">
        <p-button
          label="Cancel"
          severity="secondary"
          (onClick)="editVisible = false"
        />
        <p-button
          label="Save"
          (onClick)="editVisible = false; updateAchievement()"
          type="submit"
          [disabled]="updateAchievementForm.invalid"
        />
      </div>
    </form>
  </p-dialog>
</div>
<div class="card flex justify-content-center">
  <p-dialog
    header="Attitude Skill Detail"
    [modal]="true"
    [(visible)]="detailVisible"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  >
    <div class="card">
      <p-table
        #achievementTable
        [value]="[dataDetail]"
        dataKey="id"
        [loading]="loading"
        [tableStyle]="{
          'min-width': '40rem',
          'text-align': 'center',
          'font-size': '12px',
          margin: '0'
        }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Field</th>
            <th>Data</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>Id</td>
            <td>{{ data.id }}</td>
          </tr>
          <tr>
            <td>Achievement</td>
            <td>{{ data.achievement }}</td>
          </tr>
          <tr>
            <td>Group Id</td>
            <td>{{ data.group_id?.id }}</td>
          </tr>
          <tr>
            <td>Group Name</td>
            <td>{{ data.group_id?.group_name }}</td>
          </tr>
          <tr>
            <td>Percentage</td>
            <td>{{ data.group_id?.percentage }}</td>
          </tr>
          <tr>
            <td>Enabled</td>
            <td>
              <p-tag [severity]="data.enabled === true ? 'success' : 'danger'">
                {{ data.enabled === true ? "True" : "False" }}
              </p-tag>
            </td>
          </tr>
          <tr>
            <td>Created At</td>
            <td>{{ data.created_at }}</td>
          </tr>
          <tr>
            <td>Created By</td>
            <td>{{ data.created_by }}</td>
          </tr>
          <tr>
            <td>Updated At</td>
            <td>{{ data.updated_at }}</td>
          </tr>
          <tr>
            <td>Updated By</td>
            <td>{{ data.updated_by }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-dialog>
</div>
