.enabled {
  background-color: #e8f5e9;
}

.disabled {
  background-color: #ffebee;
}
:host ::ng-deep {
  .p-datatable-header {
    border-radius: 8px;
  }
  .p-paginator {
    border-radius: 8px;
  }
}
