<div class="navbar">
  <div class="navbar-start">
    <!-- <img src="logo.png" alt="Logo" class="navbar-logo" /> -->
  </div>
  <div class="navbar-center">
    <p-menubar id="menu-bar" [model]="items" class="menu-bar">
      <!-- <h5 style="display: inline">logout</h5> -->
      <p-button id="logout" label="Logout" severity="danger" />
      <!-- edit margin left -->
    </p-menubar>
  </div>
  <div class="navbar-end">
    <!-- <button pButton icon="pi pi-user" class="profile-button"></button> -->
  </div>
</div>
