<app-navbar [includeUserAction]="false" />
<div class="bg-container pt-4 flex align-items-center justify-content-center">
  <div class="container mx-auto relative" style="max-width: 580px">
    <div class="surface-card p-4 shadow-2 border-round-2xl backdrop-blur-sm">
      <div class="flex flex-column align-items-center gap-3">
        <!-- Avatar Section -->
        <div>
          <p-avatar
            [label]="getInitial(tokenPayload.full_name, 2)"
            styleClass="mr-2"
            size="xlarge"
            [style]="{ width: '150px', height: '150px' }"
            shape="circle"
          />
        </div>

        <!-- Welcome Text -->
        <h1 class="text-4xl font-bold text-900">
          Welcome, {{ tokenPayload.full_name }}
        </h1>

        <!-- Role Chips -->
        <div
          class="flex gap-2 flex-wrap justify-content-center animate-scale-in animation-delay-300"
        >
          @for (role of currentUser.roles; track role.id) {
          <p-chip
            [label]="role.role_name"
            styleClass="font-semibold"
            [style]="{
              backgroundColor: 'var(--primary-color)',
              color: 'white'
            }"
          />
          }
        </div>

        <!-- Menu Section -->
        <div class="w-full">
          <p-megaMenu
            [model]="items"
            [style]="{ 'border-radius': '1rem', display: 'flex' }"
            styleClass="p-3 surface-0 shadow-1"
          >
            <ng-template pTemplate="item" let-item>
              <a
                *ngIf="item.root"
                pRipple
                class="flex align-items-center cursor-pointer px-3 py-2 overflow-hidden relative font-semibold text-lg uppercase hover:surface-200 transition-colors transition-duration-150"
                style="border-radius: 2rem"
              >
                <i [ngClass]="item.icon"></i>
                <span class="ml-2">{{ item.label }}</span>
              </a>
            </ng-template>
          </p-megaMenu>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="dialogVisible"
  [modal]="true"
  header="Change Password"
  styleClass="w-full sm:w-10 md:w-8 lg:w-6"
  [style]="{ width: '500px' }"
>
  <form
    (submit)="onChangePasswordSubmit()"
    #changePasswordForm="ngForm"
    class="p-fluid"
  >
    <div class="flex flex-column gap-4 mt-4">
      <div class="field w-full">
        <p-floatLabel>
          <p-password
            id="current_password"
            class="w-full"
            placeholder="Enter your current password"
            feedback="false"
            name="current_password"
            minlength="8"
            maxlength="32"
            required
            [(ngModel)]="formData.current_password"
          />
          <label for="current_password">Current Password</label>
        </p-floatLabel>
      </div>

      <div class="flex gap-3">
        <div class="field w-8">
          <p-floatLabel>
            <p-password
              id="new_password"
              class="w-full"
              placeholder="Enter your new password"
              name="new_password"
              minlength="8"
              maxlength="32"
              required
              [(ngModel)]="formData.new_password"
            />
            <label for="new_password">New Password</label>
          </p-floatLabel>
        </div>

        <div class="field w-8">
          <p-floatLabel>
            <p-password
              id="confirm_password"
              class="w-full"
              placeholder="Re-enter your new password"
              feedback="false"
              name="confirm_password"
              minlength="8"
              maxlength="32"
              required
              [(ngModel)]="formData.confirm_new_password"
            />
            <label for="confirm_password">Confirm New Password</label>
          </p-floatLabel>
        </div>
      </div>
      @if(newPasswordAndConfirmMissmatch() ||
      newPasswordAndCurrentPasswordIsTheSame()) {
      <p-message
        severity="error"
        [text]="
          newPasswordAndConfirmMissmatch()
            ? 'New password and confirmation password do not match'
            : newPasswordAndCurrentPasswordIsTheSame()
            ? 'New password and current password is the same'
            : ''
        "
        styleClass="w-full"
      ></p-message>
      }
      <div class="flex justify-content-end gap-2 mt-4">
        <p-button
          label="Cancel"
          (click)="dialogVisible = false; resetFormData()"
          styleClass="p-button-text"
        ></p-button>
        <p-button
          type="submit"
          label="Change Password"
          [disabled]="
            changePasswordForm.invalid ||
            newPasswordAndConfirmMissmatch() ||
            newPasswordAndCurrentPasswordIsTheSame()
          "
          [loading]="isChangePasswordBtnLoading"
        />
      </div>
    </div>
  </form>
</p-dialog>
