<app-navbar></app-navbar>
<div class="card">
  <p-table
    #groupAchievementTable
    [scrollable]="true"
    scrollHeight="360px"
    [value]="datas"
    dataKey="id"
    [rows]="10"
    [loading]="loading"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [tableStyle]="{
      'min-width': '50rem',
      'text-align': 'center',
      'font-size': '12px',
      margin: '0'
    }"
    [globalFilterFields]="['id', 'group_name', 'percentage', 'enabled']"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-button
          id="btn-modal"
          (onClick)="showDialog()"
          label="Add Group Achievement"
          icon="pi pi-plus"
          [style]="{ 'font-size': '12px', padding: '10px 16px' }"
        />
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            placeholder="Search keyword"
            (input)="onGlobalFilter(groupAchievementTable, $event)"
            [style]="{ 'font-size': '14px' }"
          />
        </p-iconField>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Group Name</th>
        <th>Percentage</th>
        <th>Enabled</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td>{{ data.group_name }}</td>
        <td>{{ data.percentage }}</td>
        <td>
          <p-tag [severity]="data.enabled === true ? 'success' : 'danger'">
            {{ data.enabled === true ? "True" : "False" }}
          </p-tag>
        </td>
        <td style="justify-content: space-evenly; display: flex">
          <p-button
            (onClick)="showDialogDetail(data)"
            label=""
            icon="pi pi-info-circle"
            [rounded]="true"
            [raised]="true"
          />
          <p-button
            (onClick)="showEditDialog(data)"
            severity="success"
            icon="pi pi-pen-to-square"
            [rounded]="true"
            [raised]="true"
          ></p-button>
          <p-button
            (onClick)="confirmDelete($event, data.id)"
            [outlined]="true"
            severity="danger"
            icon="pi pi-trash"
            [rounded]="true"
            [raised]="true"
          ></p-button>
          <p-confirmDialog key="{{ data.id }}" />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="Add Group Achievement"
    [(visible)]="visible"
    [style]="{ width: '25rem' }"
  >
    <form #groupAchievementForm="ngForm" (submit)="createGroupAchievements()">
      <div class="flex align-items-center gap-3 mb-3">
        <label for="Group Name" class="font-semibold w-6rem">Group Name </label>
        <input
          pInputText
          id="Group Achievement"
          class="flex-auto"
          autocomplete="off"
          [(ngModel)]="newGroupAchievement.group_name"
          required
          name="group name"
          maxlength="100"
          type="text"
        />
      </div>
      <div class="flex align-items-center gap-3 mb-3">
        <label for="Percentage" class="font-semibold w-6rem">Percentage</label>
        <input
          [(ngModel)]="newGroupAchievement.percentage"
          pInputText
          id="Percentage"
          class="flex-auto"
          autocomplete="off"
          required
          max="100"
          min="0"
          name="percentage"
          pattern="^[0-9]*$"
          step="1"
          type="number"
        />
      </div>
      <div class="flex align-items-center gap-3 mb-3">
        <label for="Enabled" class="font-semibold w-6rem">Enabled</label>
        <p-checkbox
          [(ngModel)]="newGroupAchievement.enabled"
          [binary]="true"
          inputId="binary"
          required
          name="enabled"
        />
      </div>

      <div class="flex justify-content-end gap-2">
        <p-button
          label="Cancel"
          severity="secondary"
          (onClick)="visible = false"
        />
        <p-button
          label="Save"
          (onClick)="visible = false"
          type="submit"
          [disabled]="groupAchievementForm.invalid"
        />
      </div>
    </form>
  </p-dialog>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="Edit Group Achievement"
    [(visible)]="editVisible"
    [style]="{ width: '25rem' }"
  >
    <form
      #updateGroupAchievementForm="ngForm"
      (submit)="updateGroupAchievements()"
    >
      <div class="flex align-items-center gap-3 mb-3">
        <label for="Group name" class="font-semibold w-6rem">Group Name</label>
        <input
          [(ngModel)]="editData.group_name"
          pInputText
          id="username"
          class="flex-auto"
          autocomplete="off"
          required
          maxlength="100"
          name="group name"
        />
      </div>
      <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">Percentage</label>
        <input
          [(ngModel)]="editData.percentage"
          pInputText
          id="username"
          class="flex-auto"
          autocomplete="off"
          required
          max="100"
          min="0"
          name="percentage"
          pattern="^[0-9]*$"
          step="1"
          type="number"
        />
      </div>
      <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">Enabled</label>
        <p-checkbox
          [(ngModel)]="editData.enabled"
          [binary]="true"
          inputId="binary"
          required
          name="enabled"
        />
      </div>
      <div class="flex justify-content-end gap-2">
        <p-button
          label="Cancel"
          severity="secondary"
          (onClick)="editVisible = false"
        />
        <p-button
          label="Save"
          (onClick)="editVisible = false"
          type="submit"
          [disabled]="updateGroupAchievementForm.invalid"
        />
      </div>
    </form>
  </p-dialog>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="Group Achievement Detail"
    [modal]="true"
    [(visible)]="detailVisible"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  >
    <div class="card">
      <p-table
        #groupAchievementTable
        [value]="[dataDetail]"
        dataKey="id"
        [loading]="loading"
        [tableStyle]="{
          'min-width': '50rem',
          'text-align': 'center',
          'font-size': '12px',
          margin: '0'
        }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Field</th>
            <th>Data</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>Id</td>
            <td>{{ data.id }}</td>
          </tr>
          <tr>
            <td>Group Name</td>
            <td>{{ data.group_name }}</td>
          </tr>
          <tr>
            <td>Percentage</td>
            <td>{{ data.percentage }}</td>
          </tr>
          <tr>
            <td>Enabled</td>
            <td>
              <p-tag [severity]="data.enabled === true ? 'success' : 'danger'">
                {{ data.enabled === true ? "True" : "False" }}
              </p-tag>
            </td>
          </tr>
          <tr>
            <td>Created At</td>
            <td>{{ data.created_at }}</td>
          </tr>
          <tr>
            <td>Created By</td>
            <td>{{ data.created_by }}</td>
          </tr>
          <tr>
            <td>Updated At</td>
            <td>{{ data.updated_at }}</td>
          </tr>
          <tr>
            <td>Updated By</td>
            <td>{{ data.updated_by }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-dialog>
</div>
