<app-navbar></app-navbar>
<div class="card surface-0 shadow-2 border-round-2xl" style="margin: 1rem">
  <p-table
    #groupAchievementTable
    [scrollable]="true"
    scrollHeight="345px"
    [value]="datas"
    dataKey="id"
    [rows]="10"
    [loading]="loading"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [tableStyle]="{
      'min-width': '50rem',
      'text-align': 'center',
      'font-size': '12px',
      margin: '0',
      'border-radius': '8px',
      'table-layout': 'fixed'
    }"
    [style]="{ width: '100%' }"
    [globalFilterFields]="['group_name']"
    [sortField]="'created_at'"
    [sortOrder]="-1"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-button
          id="btn-modal"
          (onClick)="showDialog()"
          label="Add Group Achievement"
          icon="pi pi-plus"
          [style]="{ 'font-size': '12px', padding: '10px 16px' }"
        />
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            placeholder="Search by group name, enabled"
            (input)="onGlobalFilter(groupAchievementTable, $event)"
            [style]="{ 'font-size': '14px' }"
          />
        </p-iconField>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 45%; text-align: center">
          <div
            class="flex align-items-center justify-content-center gap-2 mb-5"
          >
            Group Name
            <div style="height: 2.4rem"></div>
          </div>
        </th>
        <th style="width: 15%; text-align: center">
          <div
            class="flex align-items-center justify-content-center gap-2 mb-5"
          >
            Weight
          </div>
        </th>
        <th style="width: 15%; text-align: center">
          <div class="flex flex-column justify-content-center gap-2">
            <span> Status </span>
            <p-columnFilter
              field="enabled"
              matchMode="equals"
              [showMenu]="false"
              styleClass="flex align-items-center justify-content-center w-full"
            >
              <ng-template
                pTemplate="filter"
                let-value
                let-filter="filterCallback"
              >
                <p-dropdown
                  [ngModel]="value"
                  [options]="statuses"
                  (onChange)="filter($event.value)"
                  placeholder="Status"
                  [showClear]="true"
                  [style]="{
            'min-width': '10rem',
            'font-size': '14px',

          }"
                  [panelStyle]="{ 'min-width': '10rem' }"
                  styleClass="year-dropdown"
                  appendTo="body"
                >
                  <ng-template late let-option pTemplate="item">
                    <p-tag
                      [value]="option.label"
                      [severity]="option.severity"
                    />
                  </ng-template>
                </p-dropdown>
              </ng-template>
            </p-columnFilter>
          </div>
        </th>
        <th style="width: 25%; text-align: center">
          <div
            class="flex align-items-center justify-content-center gap-2 mb-5"
          >
            Action
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr [style]="{ padding: '0.5rem' }">
        <td [style]="{ padding: '0.5rem' }">{{ data.group_name }}</td>
        <td [style]="{ padding: '0.5rem', 'text-align': 'center' }">
          {{ data.percentage }}
        </td>
        <td [style]="{ padding: '0.5rem', 'text-align': 'center' }">
          <p-tag [severity]="data.enabled === true ? 'success' : 'danger'">
            {{ data.enabled === true ? "Enabled" : "Disabled" }}
          </p-tag>
        </td>
        <td
          style="
            justify-content: space-evenly;
            display: flex;
            align-items: center;
          "
          [style]="{ padding: '0.5rem' }"
        >
          <p-button
            (onClick)="showDialogDetail(data)"
            label=""
            icon="pi pi-info-circle"
            [rounded]="true"
            [raised]="true"
            [style]="{ height: '40px', width: '40px' }"
          />
          <p-button
            (onClick)="showEditDialog(data)"
            severity="success"
            icon="pi pi-pen-to-square"
            [rounded]="true"
            [raised]="true"
            [style]="{ height: '40px', width: '40px' }"
          ></p-button>
          <p-button
            (onClick)="confirmDelete($event, data.id)"
            [outlined]="true"
            severity="danger"
            icon="pi pi-trash"
            [rounded]="true"
            [raised]="true"
            [style]="{ height: '40px', width: '40px' }"
          ></p-button>
        </td>
        <p-confirmDialog key="{{ data.id }}" />
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4" class="text-center p-4">
          <div class="flex flex-column align-items-center gap-2">
            <i class="pi pi-info-circle text-4xl text-primary"></i>
            <span class="font-semibold text-lg"
              >No group achievements available</span
            >
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="Add Group Achievement"
    [(visible)]="visible"
    [style]="{ width: '30rem' }"
  >
    <form #groupAchievementForm="ngForm" (submit)="createGroupAchievements()">
      <div class="flex align-items-center gap-6 mb-5">
        <label
          for="Group Name"
          class="font-semibold w-6rem"
          style="width: 8rem; white-space: nowrap"
        >
          Group Name<span class="text-red-600">*</span>
        </label>
        <div class="flex-auto">
          <input
            pInputText
            id="Group Achievement"
            class="w-full"
            autocomplete="off"
            [(ngModel)]="newGroupAchievement.group_name"
            required
            name="group_name"
            maxlength="100"
            type="text"
            #groupName="ngModel"
          />
          <div
            *ngIf="groupName.invalid && (groupName.dirty || groupName.touched)"
          >
            <small
              class="p-error block mt-1"
              *ngIf="groupName.errors?.['required']"
            >
              Group name is required
            </small>
            <small
              class="p-error block mt-1"
              *ngIf="groupName.errors?.['maxlength']"
            >
              Group name cannot exceed 100 characters
            </small>
          </div>
        </div>
      </div>

      <div class="flex align-items-center gap-6 mb-5">
        <label for="Weight" class="font-semibold w-6rem">
          Weight<span class="text-red-600">*</span>
        </label>
        <div class="flex-auto">
          <input
            [(ngModel)]="newGroupAchievement.percentage"
            pInputText
            id="percentage"
            class="w-full"
            autocomplete="off"
            required
            max="100"
            min="0"
            name="percentage"
            pattern="^[0-9]*$"
            step="1"
            type="number"
            #weight="ngModel"
          />
          <div *ngIf="weight.invalid && (weight.dirty || weight.touched)">
            <small
              class="p-error block mt-1"
              *ngIf="weight.errors?.['required']"
            >
              Weight is required
            </small>
            <small
              class="p-error block mt-1"
              *ngIf="weight.errors?.['min'] || weight.errors?.['max']"
            >
              Weight must be between 0 and 100
            </small>
            <small
              class="p-error block mt-1"
              *ngIf="weight.errors?.['pattern']"
            >
              Weight must be a number
            </small>
          </div>
        </div>
      </div>

      <div class="flex align-items-center gap-6 mb-5">
        <label for="Enabled" class="font-semibold w-6rem">
          Enabled<span class="text-red-600">*</span>
        </label>
        <p-toggleButton
          [(ngModel)]="newGroupAchievement.enabled"
          requied
          name="enabled"
          onLabel="Enable"
          offLabel="Disable"
        />
      </div>

      <div class="flex justify-content-end gap-2">
        <p-button
          label="Cancel"
          severity="secondary"
          (onClick)="visible = false"
        />
        <p-button
          label="Save"
          (onClick)="visible = false"
          type="submit"
          [disabled]="groupAchievementForm.invalid"
        />
      </div>
    </form>
  </p-dialog>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="Edit Group Achievement"
    [(visible)]="editVisible"
    [style]="{ width: '30rem' }"
  >
    <form
      #updateGroupAchievementForm="ngForm"
      (submit)="updateGroupAchievements()"
    >
      <div class="flex align-items-center gap-6 mb-5">
        <label
          for="Group name"
          class="font-semibold w-6rem"
          style="width: 8rem; white-space: nowrap"
        >
          Group Name<span class="text-red-600">*</span>
        </label>
        <div class="flex-auto">
          <input
            [(ngModel)]="editData.group_name"
            pInputText
            id="group_name"
            class="w-full"
            autocomplete="off"
            required
            maxlength="100"
            name="group_name"
            #editGroupName="ngModel"
          />
          <div
            *ngIf="
              editGroupName.invalid &&
              (editGroupName.dirty || editGroupName.touched)
            "
          >
            <small
              class="p-error block mt-1"
              *ngIf="editGroupName.errors?.['required']"
            >
              Group name is required
            </small>
            <small
              class="p-error block mt-1"
              *ngIf="editGroupName.errors?.['maxlength']"
            >
              Group name cannot exceed 100 characters
            </small>
          </div>
        </div>
      </div>

      <div class="flex align-items-center gap-6 mb-5">
        <label for="Weight" class="font-semibold w-6rem">
          Weight<span class="text-red-600">*</span>
        </label>
        <div class="flex-auto">
          <input
            [(ngModel)]="editData.percentage"
            pInputText
            id="percentage"
            class="w-full"
            autocomplete="off"
            required
            max="100"
            min="0"
            name="weight"
            pattern="^[0-9]*$"
            step="1"
            type="number"
            #editPercentage="ngModel"
          />
          <div
            *ngIf="
              editPercentage.invalid &&
              (editPercentage.dirty || editPercentage.touched)
            "
          >
            <small
              class="p-error block mt-1"
              *ngIf="editPercentage.errors?.['required']"
            >
              Percentage is required
            </small>
            <small
              class="p-error block mt-1"
              *ngIf="editPercentage.errors?.['min'] || editPercentage.errors?.['max']"
            >
              Percentage must be between 0 and 100
            </small>
            <small
              class="p-error block mt-1"
              *ngIf="editPercentage.errors?.['pattern']"
            >
              Percentage must be a number
            </small>
          </div>
        </div>
      </div>
      <div class="flex align-items-center gap-6 mb-5">
        <label for="Enabled" class="font-semibold w-6rem">
          Enabled<span class="text-red-600">*</span>
        </label>
        <p-toggleButton
          [(ngModel)]="editData.enabled"
          inputId="binary"
          requied
          name="enabled"
          onLabel="Enable"
          offLabel="Disable"
        />
      </div>
      <div class="flex justify-content-end gap-2">
        <p-button
          label="Cancel"
          severity="secondary"
          (onClick)="editVisible = false"
        />
        <p-button
          label="Save"
          type="submit"
          [disabled]="updateGroupAchievementForm.invalid"
        />
      </div>
    </form>
  </p-dialog>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="Group Achievement Detail"
    [modal]="true"
    [(visible)]="detailVisible"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  >
    <div class="card">
      <p-table
        #groupAchievementTable
        [value]="[dataDetail]"
        dataKey="id"
        [loading]="loading"
        [tableStyle]="{
          'min-width': '50rem',
          'text-align': 'center',
          'font-size': '12px',
          margin: '0'
        }"
      >
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>ID</td>
            <td>{{ data.id }}</td>
          </tr>
          <tr>
            <td>Group Name</td>
            <td>{{ data.group_name }}</td>
          </tr>
          <tr>
            <td>Weight</td>
            <td>{{ data.percentage }}</td>
          </tr>
          <tr>
            <td>Enabled</td>
            <td>
              <p-tag [severity]="data.enabled === true ? 'success' : 'danger'">
                {{ data.enabled === true ? "True" : "False" }}
              </p-tag>
            </td>
          </tr>
          <tr>
            <td>Created At</td>
            <td>{{ (data.created_at | date : "long") || "Unknown" }}</td>
          </tr>
          <tr>
            <td>Created By</td>
            <td>{{ data.created_by?.full_name || "Unknown" }}</td>
          </tr>
          <tr>
            <td>Updated At</td>
            <td>{{ (data.updated_at | date : "long") || "-" }}</td>
          </tr>
          <tr>
            <td>Updated By</td>
            <td>
              {{
                data.updated_by?.full_name ||
                  (data.updated_at ? "Unknown" : "-")
              }}
            </td>
          </tr></ng-template
        >
      </p-table>
    </div>
  </p-dialog>
</div>
