<app-navbar />
<div class="card">
  <p-card id="card-header">
    <div class="flex justify-content-between align-items-center">
      <div class="flex align-items-center gap-4">
        <h2 class="text-xl font-semibold m-0">
          Employee Achievements Assessment
        </h2>
      </div>
    </div>
  </p-card>
</div>
<div class="inner-card" style="max-width: 1148px; margin: 0 auto">
  <p-table
    #userTable
    [scrollable]="true"
    scrollHeight="380px"
    [value]="data.content"
    dataKey="id"
    [rows]="rows"
    [first]="first"
    [rowsPerPageOptions]="[5, 10, 15]"
    [loading]="loading"
    [paginator]="true"
    [tableStyle]="{
      'min-width': '50rem',
      'text-align': 'center',
      'font-size': '12px',
      margin: 0,
      'border-radius': '8px',
      'table-layout': 'fixed'
    }"
    [style]="{ width: '100%' }"
    sortField="createdAt"
    [sortOrder]="-1"
    lazy="true"
    (onLazyLoad)="getAllUser($event)"
    [totalRecords]="data.page_info?.total_records!"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            placeholder="Search by full name, username, position, division"
            (keydown.enter)="onGlobalFilter(userTable, $event)"
            [style]="{ 'font-size': '14px' }"
          />
        </p-iconField>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 25%; text-align: center">
          <div class="flex flex-column align-items-center">
            <span>Full Name</span>
          </div>
        </th>
        <th style="width: 25%; text-align: center">
          <div class="flex flex-column align-items-center">
            <span>Username</span>
          </div>
        </th>
        <th style="width: 25%; text-align: center">
          <div class="flex flex-column align-items-center">
            <span>Position</span>
          </div>
        </th>
        <th style="width: 25%; text-align: center">
          <div class="flex flex-column align-items-center gap-2">
            <span>Division</span>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr class="clickable-row" (click)="showDialog(user)">
        <td>{{ user.full_name }}</td>
        <td style="text-align: center">{{ user.username }}</td>
        <td style="text-align: center">{{ user.position }}</td>
        <td style="text-align: center">
          {{ user.division?.division_name ?? "Unknown" }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4" class="text-center p-4">
          <div class="flex flex-column align-items-center gap-2">
            <i class="pi pi-info-circle text-4xl text-primary"></i>
            <span class="font-semibold text-lg">No employee available</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog
  [header]="selectedUser.full_name + '\'s achievement'"
  [modal]="true"
  [(visible)]="visible"
  [maximizable]="true"
  class="absolute"
  appendTo="body"
  [style]="{ width: '90vw', maxWidth: '45%' }"
>
  @if(groupAchievements.length == 0) {
  <div class="flex justify-content-center">
    <p-message text="No Achievement Data Available!" severity="error" />
  </div>
  } @else {
  <div class="achievement-groups">
    <p-accordion [multiple]="true">
      <form #achievementForm="ngForm">
        <p-accordionTab
          *ngFor="let group of groupAchievements"
          [header]="group.group_name"
        >
          @if(!group.achievements || group.achievements.length == 0) {
          <div class="flex justify-content-center">
            <p-message
              text="No achievement found for this group!"
              severity="error"
            />
          </div>
          } @else {
          <div class="p-4">
            <div class="mb-4" *ngFor="let achievement of group.achievements">
              <div class="flex align-items-center justify-content-between">
                <div class="flex-1">
                  <h3 class="text-lg font-semibold mb-2">
                    {{ achievement.achievement }}
                  </h3>
                  <div class="flex flex-column gap-3">
                    <div class="field">
                      <label for="score" class="block mb-1">
                        Score<span class="text-red-600">*</span>
                      </label>
                      <input
                        [(ngModel)]="
                          empAchievementRequests[achievement.id].score
                        "
                        pInputText
                        type="number"
                        id="score"
                        [name]="achievement.id + 'score'"
                        required
                        min="0"
                        max="100"
                        class="w-full"
                        #scoreInput="ngModel"
                        [disabled]="
                          empAchievementRequests[achievement.id].id != undefined
                        "
                      />
                      <div
                        *ngIf="
                          scoreInput.invalid &&
                          (scoreInput.dirty || scoreInput.touched)
                        "
                      >
                        <small
                          class="p-error block mt-1"
                          *ngIf="scoreInput.errors?.['required']"
                        >
                          Score is required
                        </small>
                        <small
                          class="p-error block mt-1"
                          *ngIf="scoreInput.errors?.['min'] || scoreInput.errors?.['max']"
                        >
                          Score must be between 0 and 100
                        </small>
                      </div>
                    </div>
                    <div class="field">
                      <label for="notes" class="block mb-1">
                        Notes
                        <span class="text-red-600">*</span>
                      </label>
                      <textarea
                        [(ngModel)]="
                          empAchievementRequests[achievement.id].notes
                        "
                        pInputTextarea
                        id="notes"
                        [name]="achievement.id + 'notes'"
                        required
                        maxlength="100"
                        rows="3"
                        class="w-full"
                        #notesInput="ngModel"
                        pattern=".*\S.*"
                        [disabled]="
                          empAchievementRequests[achievement.id].id != undefined
                        "
                      ></textarea>
                      <div
                        *ngIf="
                          notesInput.invalid &&
                          (notesInput.dirty || notesInput.touched)
                        "
                      >
                        <small
                          class="p-error block mt-1"
                          *ngIf="notesInput.errors?.['required'] || notesInput.errors?.['pattern']"
                        >
                          Notes can't be empty!
                        </small>
                        <small
                          class="p-error block mt-1"
                          *ngIf="notesInput.errors?.['maxlength']"
                        >
                          Notes cannot exceed 100 characters
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p-divider></p-divider>
            </div>
          </div>
          }
        </p-accordionTab>
        <p-button
          type="submit"
          (onClick)="createEmpAchievement()"
          label="Submit"
          class="flex mt-4 ml-3"
          [disabled]="!submissible || achievementForm.invalid"
        />
      </form>
    </p-accordion>
  </div>
  }
</p-dialog>
