<!-- <app-navbar></app-navbar> -->
<div class="card">
  <p-table
    #empAchievementTable
    [scrollable]="true"
    scrollHeight="360px"
    [value]="datas"
    dataKey="id"
    [rows]="10"
    [loading]="loading"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [tableStyle]="{
      'min-width': '50rem',
      'text-align': 'center',
      'font-size': '12px',
      margin: '0'
    }"
    [globalFilterFields]="[
      'id',
      'notes',
      'achievement_id.achievement',
      'score',
      'assessment_year'
    ]"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-button
          id="btn-modal"
          (onClick)="showDialog()"
          label="Add Emp Achievement Skill"
          icon="pi pi-plus"
          [style]="{ 'font-size': '12px', padding: '10px 16px' }"
        />
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            placeholder="Search keyword"
            (input)="onGlobalFilter(empAchievementTable, $event)"
            [style]="{ 'font-size': '14px' }"
          />
        </p-iconField>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Username</th>
        <th>Achievement</th>
        <th>Notes</th>
        <th>Score</th>
        <th>Assessment Year</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td>{{ data.user_id?.username }}</td>
        <td>{{ data.achievement_id.achievement }}</td>
        <td>{{ data.notes }}</td>
        <td>{{ data.score }}</td>
        <td>{{ data.assessment_year }}</td>
        <td style="justify-content: space-evenly; display: flex">
          <p-button
            (onClick)="showDialogDetail(data)"
            label=""
            icon="pi pi-info-circle"
            [rounded]="true"
            [raised]="true"
          />
          <p-button
            (onClick)="showEditDialog(data)"
            severity="success"
            icon="pi pi-pen-to-square"
            [rounded]="true"
            [raised]="true"
          ></p-button>
          <p-button
            (onClick)="confirmDelete($event, data.id)"
            [outlined]="true"
            severity="danger"
            icon="pi pi-trash"
            [rounded]="true"
            [raised]="true"
          ></p-button>
          <p-confirmDialog key="{{ data.id }}" />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="Add Emp Achievement"
    [(visible)]="visible"
    [style]="{ width: '25rem' }"
  >
    <div class="flex align-items-center gap-3 mb-3">
      <label for="Notes" class="font-semibold w-6rem">Notes</label>
      <input
        pInputText
        id="Notes"
        class="flex-auto"
        autocomplete="off"
        [(ngModel)]="newEmpAchievement.notes"
        required
        maxlength="100"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="User Id" class="font-semibold w-6rem"> User Id </label>
      <p-dropdown
        [options]="userDropdown"
        [(ngModel)]="newEmpAchievement.user_id"
        optionLabel="username"
        optionValue="id"
        placeholder="Select a username"
        required
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="achievement id" class="font-semibold w-6rem">
        Achievement Name
      </label>
      <p-dropdown
        [options]="achievementDropdown"
        [(ngModel)]="newEmpAchievement.achievement_id"
        optionLabel="achievement"
        optionValue="id"
        placeholder=" Achievement Name "
        required
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="Score" class="font-semibold w-6rem"> Score </label>
      <input
        pInputText
        id="Score"
        class="flex-auto"
        autocomplete="off"
        [(ngModel)]="newEmpAchievement.score"
        required
        max="100"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="Assessment Year" class="font-semibold w-6rem">
        Assessment Year
      </label>
      <input
        pInputText
        id="Assessment Year"
        class="flex-auto"
        autocomplete="off"
        [(ngModel)]="newEmpAchievement.assessment_year"
        required
        min="2000"
        max="2100"
      />
    </div>

    <div class="flex justify-content-end gap-2">
      <p-button
        label="Cancel"
        severity="secondary"
        (onClick)="visible = false"
      />
      <p-button
        label="Save"
        (onClick)="visible = false; createEmpAchievement()"
      />
    </div>
  </p-dialog>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="Edit Emp Achievement"
    [(visible)]="editVisible"
    [style]="{ width: '25rem' }"
  >
    <div class="flex align-items-center gap-3 mb-3">
      <label for="Notes" class="font-semibold w-6rem">Notes</label>
      <input
        [(ngModel)]="editData.notes"
        pInputText
        id="Notes"
        class="flex-auto"
        autocomplete="off"
        required
        maxlength="100"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="User Id" class="font-semibold w-6rem"> User Id </label>
      <p-dropdown
        [options]="userDropdown"
        [(ngModel)]="editData.user_id"
        optionLabel="username"
        optionValue="id"
        placeholder="Select an username"
        required
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="Achievement Id" class="font-semibold w-6rem">
        Achievement Name
      </label>
      <p-dropdown
        [options]="achievementDropdown"
        [(ngModel)]="editData.achievement_id"
        optionLabel="achievement"
        optionValue="id"
        placeholder=" Achievement Name "
        required
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="Score" class="font-semibold w-6rem"> Score </label>
      <input
        pInputText
        id="Score"
        class="flex-auto"
        autocomplete="off"
        [(ngModel)]="editData.score"
        required
        max="100"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="Assessment Year" class="font-semibold w-6rem">
        Assessment Year
      </label>
      <input
        pInputText
        id="Assessment Year"
        class="flex-auto"
        autocomplete="off"
        [(ngModel)]="editData.assessment_year"
        min="2000"
        max="2100"
      />
    </div>
    <div class="flex justify-content-end gap-2">
      <p-button
        label="Cancel"
        severity="secondary"
        (onClick)="editVisible = false"
      />
      <p-button
        label="Save"
        (onClick)="editVisible = false; updateEmpAchievement()"
      />
    </div>
  </p-dialog>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="Emp Achievement Detail"
    [modal]="true"
    [(visible)]="detailVisible"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  >
    <div class="card">
      <p-table
        #EmpAchievementTable
        [value]="[dataDetail]"
        dataKey="id"
        [loading]="loading"
        [tableStyle]="{
          'min-width': '50rem',
          'text-align': 'center',
          'font-size': '12px',
          margin: '0'
        }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Field</th>
            <th>Data</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>Id</td>
            <td>{{ data.id }}</td>
          </tr>
          <tr>
            <td>User Id</td>
            <td>{{ data.user_id?.id }}</td>
          </tr>
          <tr>
            <td>Achievement Id</td>
            <td>{{ data.achievement_id?.id }}</td>
          </tr>
          <tr>
            <td>Notes</td>
            <td>{{ data.notes }}</td>
          </tr>
          <tr>
            <td>Score</td>
            <td>{{ data.score }}</td>
          </tr>
          <tr>
            <td>Assessment Year</td>
            <td>{{ data.assessment_year }}</td>
          </tr>
          <tr>
            <td>Created At</td>
            <td>{{ data.created_at }}</td>
          </tr>
          <tr>
            <td>Created By</td>
            <td>{{ data.created_by }}</td>
          </tr>
          <tr>
            <td>Updated At</td>
            <td>{{ data.updated_at }}</td>
          </tr>
          <tr>
            <td>Updated By</td>
            <td>{{ data.updated_by }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-dialog>
</div>
