<!-- <app-navbar></app-navbar> -->
<div class="card">
  <p-table
    #dt2
    [value]="datas"
    dataKey="id"
    [rows]="10"
    [loading]="loading"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [tableStyle]="{
      'min-width': '50rem',
      'text-align': 'center',
      'font-size': '12px',
      margin: '0'
    }"
    [globalFilterFields]="['id', 'group_name', 'created_by.full_name']"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-button
          id="btn-modal"
          (onClick)="showDialog()"
          label=" Add Group Attitude SKill"
        />
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            placeholder="Search keyword"
            (input)="onGlobalFilter(dt2, $event)"
          />
        </p-iconField>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>group Name</th>
        <th>Percentage</th>
        <th>Enabled</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td>{{ data.id }}</td>
        <td>{{ data.group_name }}</td>
        <td>{{ data.percentage }}</td>
        <td>{{ data.enabled }}</td>
        <td style="justify-content: space-between; display: flex">
          <p-button
            (onClick)="showDialogDetail(data)"
            label=""
            icon="pi pi-info-circle"
          />
          <p-button
            (onClick)="showEditDialog(data)"
            severity="success"
            icon="pi pi-pen-to-square"
          ></p-button>
          <p-button
            (onClick)="confirmDelete($event, data.id)"
            [outlined]="true"
            severity="danger"
            icon="pi pi-trash"
          ></p-button>
          <p-confirmDialog key="{{ data.id }}" />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="Add Group Attitude Skill"
    [(visible)]="visible"
    [style]="{ width: '25rem' }"
  >
    <div class="flex align-items-center gap-3 mb-3">
      <label for="Group name" class="font-semibold w-6rem">Group Name</label>
      <input
        [(ngModel)]="newGroupAttitudeSkill.group_name"
        pInputText
        id="Group name"
        class="flex-auto"
        autocomplete="off"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="Percentage" class="font-semibold w-6rem">Percentage</label>
      <input
        [(ngModel)]="newGroupAttitudeSkill.percentage"
        pInputText
        id="Percentage"
        class="flex-auto"
        autocomplete="off"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="Enabled" class="font-semibold w-6rem">Enabled</label>
      <p-checkbox
        [(ngModel)]="newGroupAttitudeSkill.enabled"
        [binary]="true"
        inputId="binary"
      />
    </div>
    <div class="flex justify-content-end gap-2">
      <p-button
        label="Cancel"
        severity="secondary"
        (onClick)="visible = false"
      />
      <p-button
        label="Save"
        (onClick)="visible = false; createGroupAttitudeSkill()"
      />
    </div>
  </p-dialog>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="Edit Group Attitude Skill"
    [(visible)]="editVisible"
    [style]="{ width: '25rem' }"
  >
    <span class="p-text-secondary block mb-5">Edit group attitude skill.</span>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="Group Name" class="font-semibold w-6rem">Group Name</label>
      <input
        [(ngModel)]="editData.group_name"
        pInputText
        id="Group Name"
        class="flex-auto"
        autocomplete="off"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="Percentage" class="font-semibold w-6rem">Percentage</label>
      <input
        [(ngModel)]="editData.percentage"
        pInputText
        id="Percentage"
        class="flex-auto"
        autocomplete="off"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="Enabled" class="font-semibold w-6rem">Enabled</label>
      <p-checkbox
        [(ngModel)]="editData.enabled"
        [binary]="true"
        inputId="binary"
      />
    </div>

    <div class="flex justify-content-end gap-2">
      <p-button
        label="Cancel"
        severity="secondary"
        (onClick)="editVisible = false"
      />
      <p-button
        label="Save"
        (onClick)="editVisible = false; updateGroupAttitudeSkill()"
      />
    </div>
  </p-dialog>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="Group Attitude Skill Detail"
    [modal]="true"
    [(visible)]="detailVisible"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  >
    <!-- <p class="mb-5">ini detail</p> -->
    <div class="card">
      <p-table
        #divisionTable
        [value]="[dataDetail]"
        dataKey="id"
        [loading]="loading"
        [tableStyle]="{
          'min-width': '40rem',
          'text-align': 'center',
          'font-size': '12px',
          margin: '0'
        }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Field</th>
            <th>Data</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>Id</td>
            <td>{{ data.id }}</td>
          </tr>
          <tr>
            <td>Group Name</td>
            <td>{{ data.group_name }}</td>
          </tr>
          <tr>
            <td>Created At</td>
            <td>{{ data.created_at }}</td>
          </tr>
          <tr>
            <td>Created By</td>
            <td>{{ data.created_by }}</td>
          </tr>
          <tr>
            <td>Updated At</td>
            <td>{{ data.updated_at }}</td>
          </tr>
          <tr>
            <td>Updated By</td>
            <td>{{ data.updated_by }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-dialog>
</div>
