<div class="card">
  <p-card id="card-header">
    <div class="flex justify-content-between align-items-center">
      <div class="flex align-items-center gap-4">
        <h2 class="text-xl font-semibold m-0">
          Employee Achievements Assessment
        </h2>
        <p-dropdown
          [(ngModel)]="selectedYear"
          [options]="years"
          placeholder="Select Year"
          styleClass="year-dropdown"
          [style]="{
            'min-width': '100px'
          }"
          (onChange)="onChange($event)"
        >
        </p-dropdown>
      </div>
    </div>
  </p-card>
</div>
<app-summary
  [userId]="userId"
  [year]="selectedYear"
  (assSumAvailable)="assSumAvail($event)"
/>
@if (hasAccessToSuggestion) {
<app-suggestion [year]="selectedYear" [userId]="userId" />
}
