:host ::ng-deep {
  #card-header {
    .p-card {
      width: 46%;
      margin: 1rem auto;
      background-color: var(--surface-card);
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

      .p-card-body {
        padding: 1.25rem;
      }
    }
  }
}
