<app-navbar />
<div class="card">
  <p-card id="card-header">
    <div class="flex justify-content-between align-items-center">
      <div class="flex align-items-center gap-4">
        <h2 class="text-xl font-semibold m-0">
          Employee Achievements Assessment
        </h2>
        <p-dropdown
          [(ngModel)]="selectedPeriod"
          [options]="years"
          optionLabel="name"
          placeholder="Select Year"
          [style]="{
            'min-width': '100px'
          }"
          styleClass="year-dropdown"
        >
        </p-dropdown>
      </div>
    </div>
  </p-card>
</div>
<app-user-information />
<app-summary [userId]="userId" />
@if (hasAccessToSuggestion) {
<app-suggestion />
}
