<app-navbar />
<div class="card surface-0 shadow-2 border-round-2xl" style="margin: 1rem">
  <p-table
    #summariesTable
    id="summaries-table"
    lazy="true"
    [scrollable]="true"
    scrollHeight="340px"
    (onLazyLoad)="getAssessmentSummaries($event)"
    [rowsPerPageOptions]="[5, 10, 15]"
    [totalRecords]="data.page_info?.total_records ?? 0"
    [first]="first"
    [rows]="rows"
    [loading]="isLoading"
    [paginator]="true"
    [value]="data.content"
    [tableStyle]="{
      'min-width': '50rem',
      'text-align': 'center',
      'font-size': '12px',
      margin: 0,
      'border-radius': '8px',
      'table-layout': 'fixed'
    }"
    [style]="{ width: '100%' }"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            placeholder="Search by full name/position"
            [style]="{ 'font-size': '14px' }"
            (keydown.enter)="onGlobalFilter(summariesTable, $event)"
          />
        </p-iconField>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th
          style="width: 25%; text-align: center"
          pSortableColumn="user.fullName"
        >
          <div
            class="flex align-items-center justify-content-center gap-2 mb-5"
          >
            <span>Full Name</span>
            <p-sortIcon field="user.fullName" />
            <div style="height: 2.3rem"></div>
          </div>
        </th>
        <th style="width: 10%; text-align: center" pSortableColumn="score">
          <div
            class="flex align-items-center justify-content-center gap-2 mb-5"
          >
            <span> Score </span>
            <p-sortIcon field="score" />
            <div style="height: 1.5rem"></div>
          </div>
        </th>
        <th style="width: 20%; text-align: center">
          <div class="flex flex-column align-items-center">
            <span>Position</span>
            <div style="height: 2.3rem"></div>
          </div>
        </th>
        <th style="width: 25%; text-align: center">
          <div
            class="flex flex-column align-items-center justify-content-center gap-2"
          >
            <span>Division</span>
            @if (isHR) {
            <p-columnFilter
              field="division_ids"
              matchMode="in"
              [showMenu]="false"
              styleClass="flex align-items-center justify-content-center w-full"
            >
              <ng-template
                pTemplate="filter"
                let-value
                let-filter="filterCallback"
              >
                <div class="flex justify-content-center w-full">
                  <p-multiSelect
                    [maxSelectedLabels]="1"
                    [ngModel]="selectedDivisions"
                    [options]="divisions"
                    optionLabel="division_name"
                    optionValue="id"
                    (onChange)="filter($event.value)"
                    placeholder="Select Division"
                    [style]="{
                      'min-width': '10rem',
                      'font-size': '14px',
                      '--p-multiselect-label-padding': '0.4rem 0.75rem'
                    }"
                    [panelStyle]="{ 'min-width': '12rem' }"
                    styleClass="dropdown"
                    [panelStyleClass]="'dropdown-panel'"
                    appendTo="body"
                  />
                </div>
              </ng-template>
            </p-columnFilter>
            } @else {
            <div style="height: 1.75rem"></div>
            }
          </div>
        </th>
        <th style="width: 25%; text-align: center">
          <div class="flex flex-column align-items-center gap-2">
            <span>Year</span>
            <p-columnFilter field="year" matchMode="equals" [showMenu]="false">
              <ng-template
                pTemplate="filter"
                let-value
                let-filter="filterCallback"
              >
                <p-dropdown
                  [ngModel]="value"
                  [options]="years"
                  (onChange)="filter($event.value)"
                  placeholder="Select Year"
                  [style]="{ 'min-width': '10rem' }"
                  [panelStyle]="{ 'min-width': '12rem' }"
                  styleClass="dropdown"
                  [panelStyleClass]="'dropdown-panel'"
                  appendTo="body"
                />
              </ng-template>
            </p-columnFilter>
          </div>
        </th>
        <th style="width: 25%; text-align: center">
          <div class="flex flex-column align-items-center gap-2">
            <span>Approval</span>
            <p-columnFilter
              field="approval_status"
              matchMode="equals"
              [showMenu]="false"
            >
              <ng-template
                pTemplate="filter"
                let-value
                let-filter="filterCallback"
              >
                <p-dropdown
                  [ngModel]="value"
                  [options]="approvalStatus"
                  (onChange)="filter($event.value)"
                  optionLabel="label"
                  optionValue="value"
                  placeholder="Select Status"
                  [style]="{ 'min-width': '10rem' }"
                  [panelStyle]="{ 'min-width': '12rem' }"
                >
                  <ng-template pTemplate="item" let-option>
                    <p-tag
                      [value]="option.label"
                      [severity]="option.severity"
                      [rounded]="true"
                    ></p-tag>
                  </ng-template>
                </p-dropdown>
              </ng-template>
            </p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-summary>
      <tr
        class="clickable-row"
        [style]="'font-size: 16px'"
        (click)="showDialog(summary.user_id, summary.year)"
      >
        <td>{{ summary.user_id.full_name }}</td>
        <td style="text-align: center">
          {{ summary.score | number : "1.0-2" }}
        </td>
        <td style="text-align: center">{{ summary.user_id.position }}</td>
        <td style="text-align: center">
          {{ summary.user_id.division?.division_name ?? "Unknown" }}
        </td>
        <td style="text-align: center">{{ summary.year }}</td>
        <td style="text-align: center">
          <p-tag [severity]="summary.approval_status ? 'success' : 'danger'">
            {{ summary.approval_status ? "Approved" : "Not Approved" }}
          </p-tag>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" class="text-center p-4">
          <div class="flex flex-column align-items-center gap-2">
            <i class="pi pi-info-circle text-4xl text-primary"></i>
            <span class="font-semibold text-lg"
              >No assessment summaries data available</span
            >
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog
  [header]="selectedUser.full_name + ' Details '"
  [modal]="true"
  [(visible)]="visible"
  [maximizable]="true"
  class="absolute z-5"
  appendTo="body"
  draggable="false"
>
  @if(selectedUser.id && selectedYear) {
  <app-summary-and-suggestions
    [userId]="selectedUser.id"
    [year]="selectedYear"
    [editableAndAllowApprove]="
      selectedUser.division?.id == currentUser.division?.id &&
      isSPV &&
      this.selectedYear == this.currentYear
    "
    (onAfterApprove)="summariesTable.reset()"
  />
  }
</p-dialog>
