:host ::ng-deep {
  .p-datatable {
    .p-datatable-tbody > tr {
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: #f0f7ff !important;
      }
    }
  }
}
:host ::ng-deep {
  .p-dropdown {
    .p-dropdown-label {
      padding: 0.4rem 0.75rem;
      font-size: 0.875rem;
    }

    &.p-dropdown-sm {
      height: 2.5rem;
    }
  }

  .p-dropdown-panel-md {
    .p-dropdown-items {
      padding: 0.5rem 0;

      .p-dropdown-item {
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
      }
    }
  }
}

:host ::ng-deep {
  .p-dropdown-panel {
    z-index: 1000 !important;
  }

  .p-dropdown {
    z-index: 999;

    &.p-dropdown-sm {
      height: 2.6rem;
    }
  }
}

:host ::ng-deep {
  .p-column-filter {
    .p-column-filter-clear-button {
      visibility: visible !important;
      opacity: 1 !important;
    }
  }
}
:host ::ng-deep {
  .p-datatable {
    th {
      height: 5rem;
      vertical-align: middle;
    }

    .flex-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

:host ::ng-deep {
  .p-datatable-header {
    border-radius: 8px;
  }
  .p-paginator {
    border-radius: 8px;
  }
}

:host ::ng-deep {
  dropdown {
    .p-multiselect-label {
      padding: 0.4rem 0.75rem;
      font-size: 14px;
    }

    .p-multiselect-trigger {
      width: 2.5rem;
    }
  }

  dropdown-panel {
    .p-multiselect-panel {
      min-width: 10rem !important;
      font-size: 14px;

      .p-multiselect-items {
        padding: 0.25rem 0;

        .p-multiselect-item {
          padding: 0.4rem 0.75rem;
        }
      }
    }
  }
}
:host ::ng-deep {
  .p-datatable .p-datatable-thead > tr > th {
    font-size: 16px;
  }
}

:host ::ng-deep {
  .p-multiselect .p-multiselect-label {
    padding: 0.4rem 0.5rem;
    font-size: 14px;
  }
}

:host ::ng-deep {
  .p-multiselect-clearable .p-multiselect-label-container {
    padding-right: 0rem;
  }
}
