<div class="flex justify-content-center">
  <div style="max-width: 600px; width: 100%">
    <form #userForm="ngForm" (submit)="onSubmit()">
      <div class="grid pt-4">
        <div class="col-12 mb-4">
          <p-floatLabel>
            <input
              pInputText
              type="text"
              name="fullName"
              id="fullName"
              [(ngModel)]="formData.full_name"
              required
              maxlength="60"
              pattern=".*\S+.*"
              #fullName="ngModel"
              class="w-full"
            />
            <label for="fullName">
              Full Name<span class="text-red-600">*</span>
            </label>
          </p-floatLabel>
          <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)">
            <small
              class="p-error block mt-1"
              *ngIf="fullName.errors?.['required']"
            >
              Full name is required
            </small>
            <small
              class="p-error block mt-1"
              *ngIf="fullName.errors?.['pattern']"
            >
              Full name cannot be empty or contain only spaces
            </small>
            <small
              class="p-error block mt-1"
              *ngIf="fullName.errors?.['maxlength']"
            >
              Full name cannot exceed 60 characters
            </small>
          </div>
        </div>
        <div class="col-12 mb-4">
          <p-floatLabel>
            <input
              pInputText
              type="text"
              name="position"
              id="position"
              [(ngModel)]="formData.position"
              required
              maxlength="50"
              pattern=".*\S+.*"
              #position="ngModel"
              class="w-full"
            />
            <label for="position">
              Position<span class="text-red-600">*</span>
            </label>
          </p-floatLabel>
          <div *ngIf="position.invalid && (position.dirty || position.touched)">
            <small
              class="p-error block mt-1"
              *ngIf="position.errors?.['required']"
            >
              Position is required
            </small>
            <small
              class="p-error block mt-1"
              *ngIf="position.errors?.['pattern']"
            >
              Position cannot be empty or contain only spaces
            </small>
            <small
              class="p-error block mt-1"
              *ngIf="position.errors?.['maxlength']"
            >
              Position cannot exceed 50 characters
            </small>
          </div>
        </div>
        <div class="col-12 mb-4">
          <p-floatLabel>
            <input
              pInputText
              type="text"
              name="username"
              id="username"
              [(ngModel)]="formData.username"
              required
              maxlength="30"
              #username="ngModel"
              pattern="^[a-zA-Z0-9._]+$"
              class="w-full"
            />
            <label for="username">
              Username<span class="text-red-600">*</span>
            </label>
          </p-floatLabel>
          <div *ngIf="username.invalid && (username.dirty || username.touched)">
            <small
              class="p-error block mt-1"
              *ngIf="username.errors?.['required']"
            >
              Username is required
            </small>
            @if(username.errors?.['pattern']) {
            <small class="p-error block mt-1"
              >Username can only contain alphanumeric characters, underscores,
              and dots</small
            >
            }
            <small
              class="p-error block mt-1"
              *ngIf="username.errors?.['maxlength']"
            >
              Username cannot exceed 30 characters
            </small>
          </div>
        </div>
        <div class="col-12 mb-4">
          <p-floatLabel>
            <input
              pInputText
              type="email"
              name="email"
              id="email"
              [(ngModel)]="formData.email"
              required
              maxlength="60"
              email
              #emailInput="ngModel"
              class="w-full"
            />
            <label for="email">
              Email<span class="text-red-600">*</span>
            </label>
          </p-floatLabel>
          <div
            *ngIf="
              emailInput.invalid && (emailInput.dirty || emailInput.touched)
            "
          >
            <small
              class="p-error block mt-1"
              *ngIf="emailInput.errors?.['required']"
            >
              Email is required
            </small>
            <small
              class="p-error block mt-1"
              *ngIf="emailInput.errors?.['maxlength']"
            >
              Email cannot exceed 60 characters
            </small>
            <small
              class="p-error block mt-1"
              *ngIf="emailInput.errors?.['email']"
            >
              Please enter a valid email address
            </small>
          </div>
        </div>

        @if (formData.id === null) {
        <div class="col-12 mb-4">
          <p-floatLabel>
            <p-password
              [(ngModel)]="formData.password"
              required
              minlength="8"
              maxlength="32"
              name="password"
              id="password"
              styleClass="w-full"
              inputStyleClass="w-full"
              [toggleMask]="true"
              #passwordInput="ngModel"
            />
            <label for="password">
              Password<span class="text-red-600">*</span>
            </label>
          </p-floatLabel>
          <div
            *ngIf="
              passwordInput.invalid &&
              (passwordInput.dirty || passwordInput.touched)
            "
          >
            <small
              class="p-error block mt-1"
              *ngIf="passwordInput.errors?.['required']"
            >
              Password is required
            </small>
            <small
              class="p-error block mt-1"
              *ngIf="passwordInput.errors?.['minlength']"
            >
              Password must be at least 8 characters
            </small>
            <small
              class="p-error block mt-1"
              *ngIf="passwordInput.errors?.['maxlength']"
            >
              Password cannot exceed 32 characters
            </small>
          </div>
        </div>
        }
        <div class="col-12 mb-4">
          <p-floatLabel>
            <p-dropdown
              name="division"
              [options]="divisions"
              [(ngModel)]="formData.division_id"
              optionLabel="division_name"
              optionValue="id"
              placeholder="Select a division"
              [loading]="isDivisionLoading"
              required
              styleClass="w-full"
              #divisionInput="ngModel"
            />
            <label for="division">
              Division<span class="text-red-600">*</span>
            </label>
          </p-floatLabel>
          <div
            *ngIf="
              divisionInput.invalid &&
              (divisionInput.dirty || divisionInput.touched)
            "
          >
            <small
              class="p-error block mt-1"
              *ngIf="divisionInput.errors?.['required']"
            >
              Please select a division
            </small>
          </div>
        </div>

        <div class="col-12 mb-4">
          <p-floatLabel>
            <p-multiSelect
              [options]="roles"
              [(ngModel)]="formData.roles"
              optionLabel="role_name"
              optionValue="id"
              placeholder="Select Roles"
              name="roles"
              id="roles"
              styleClass="w-full"
              required
              #rolesInput="ngModel"
            />
            <label for="role"> Roles<span class="text-red-600">*</span> </label>
          </p-floatLabel>
          <div
            *ngIf="
              rolesInput.invalid && (rolesInput.dirty || rolesInput.touched)
            "
          >
            <small
              class="p-error block mt-1"
              *ngIf="rolesInput.errors?.['required']"
            >
              Please select at least one role
            </small>
          </div>
        </div>

        <div class="col-12 mb-4">
          <div class="p-float-label">
            <p-calendar
              [(ngModel)]="formData.join_date"
              inputId="joinDate"
              name="joinDate"
              [maxDate]="maxDate"
              required
              #joinDateInput="ngModel"
              appendTo="body"
              styleClass="w-full"
            />
            <label for="joinDate"
              >Join Date<span class="text-red-600">*</span></label
            >
          </div>
          <div
            *ngIf="
              joinDateInput.invalid &&
              (joinDateInput.dirty || joinDateInput.touched)
            "
          >
            <small
              class="p-error block mt-1"
              *ngIf="joinDateInput.errors?.['required']"
            >
              Please select a join date
            </small>
          </div>
        </div>

        <div class="col-12 mb-4">
          <div class="flex justify-content-around align-items-center">
            <div>
              <label class="block mb-2">
                Employment Status<span class="text-red-600">*</span>
              </label>
              <p-selectButton
                [options]="statusOptions"
                [(ngModel)]="formData.employee_status"
                name="status"
                optionLabel="label"
                optionValue="value"
                required
              ></p-selectButton>
            </div>
            <div>
              <label for="enabled" class="block mb-2">
                Enabled<span class="text-red-600">*</span>
              </label>
              <p-toggleButton
                [(ngModel)]="formData.enabled"
                onLabel="Enabled"
                offLabel="Disabled"
                name="enabled"
                id="enabled"
                required
              />
            </div>
          </div>
        </div>
      </div>

      <div class="flex justify-content-center mt-4">
        @if (formData.id !== null) {
        <div class="flex justify-content-center mb-3 mr-6">
          <p-button
            label="Reset Password"
            icon="pi pi-key"
            severity="danger"
            [loading]="resetPasswordLoading"
            (onClick)="onResetPassword($event, formData.id)"
          />
        </div>
        }
        <p-button
          label="Cancel"
          icon="pi pi-times"
          severity="secondary"
          class="mr-1"
          (onClick)="onCancel.emit()"
        />
        <p-button
          label="Save"
          icon="pi pi-save"
          [loading]="submitBtnLoading"
          [disabled]="userForm.invalid"
          type="submit"
        />
      </div>
    </form>
  </div>
</div>

<p-confirmDialog />
