th {
  text-align: center;
}

td {
  justify-content: center;
  align-items: center;
  text-align: center;
}
:host ::ng-deep {
  .p-datatable-header {
    border-radius: 8px;
  }
  .p-paginator {
    border-radius: 8px;
  }
}
