<p-table
  #userTable
  [scrollable]="true"
  scrollHeight="345px"
  [value]="data.content"
  dataKey="id"
  [rows]="10"
  [rowsPerPageOptions]="[5, 10, 15]"
  [loading]="isLoading"
  [paginator]="true"
  lazy="true"
  [totalRecords]="data.total_records"
  (onPage)="pageChange($event)"
  [first]="first"
  [rows]="rows"
  [tableStyle]="{
    'min-width': '50rem',
    'text-align': 'center',
    'font-size': '12px',
    margin: 0,
    'border-radius': '8px',
    'table-layout': 'fixed'
  }"
  [style]="{ width: '100%' }"
>
  <ng-template pTemplate="caption">
    <div class="flex">
      @if (withActionButtons) {
      <div>
        <p-button
          id="btn-add"
          label="Add User"
          icon="pi pi-plus"
          (onClick)="showDialog(dialogType.ADD)"
          [style]="{ 'font-size': '12px', padding: '10px 16px' }"
        />
      </div>
      }
      <p-iconField iconPosition="left" class="ml-auto">
        <p-inputIcon>
          <i class="pi pi-search"></i>
        </p-inputIcon>
        <input
          pInputText
          [(ngModel)]="searchQuery"
          type="text"
          placeholder="Search by full name, username, email, position, division"
          (keydown.enter)="loadUsers()"
          [style]="{ 'font-size': '14px' }"
        />
      </p-iconField>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 20%">Full Name</th>
      <th style="width: 10%">Username</th>
      <th style="width: 20%">Email</th>
      <th style="width: 10%">Position</th>
      <th style="width: 15%">Division</th>
      @if (withActionButtons) {
      <th style="width: 25%">Action</th>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr
      [style]="{ padding: '0.5rem' }"
      (click)="withActionButtons ? null : showDialog(dialogType.DETAIL, user)"
      [class]="withActionButtons ? '' : 'clickable-row'"
    >
      <td [style]="{ padding: '0.5rem' }">{{ user.full_name }}</td>
      <td [style]="{ padding: '0.5rem' }">{{ user.username }}</td>
      <td [style]="{ padding: '0.5rem' }">{{ user.email_address }}</td>
      <td [style]="{ padding: '0.5rem' }">{{ user.position }}</td>
      <td [style]="{ padding: '0.5rem' }">
        {{ user.division?.division_name ?? "Unknown" }}
      </td>
      @if (withActionButtons) {
      <td
        style="
          justify-content: space-evenly;
          display: flex;
          align-items: center;
        "
        [style]="{ padding: '0.5rem' }"
      >
        <p-button
          severity="primary"
          icon="pi pi-info-circle"
          [rounded]="true"
          [raised]="true"
          (onClick)="showDialog(dialogType.DETAIL, user)"
          [style]="{ height: '40px', width: '40px' }"
        />
        <p-button
          severity="success"
          icon="pi pi-pen-to-square"
          [rounded]="true"
          [raised]="true"
          (onClick)="showDialog(dialogType.UPDATE, user)"
          [style]="{ height: '40px', width: '40px' }"
        />
        <p-button
          severity="danger"
          icon="pi pi-trash"
          [outlined]="true"
          [rounded]="true"
          [raised]="true"
          (onClick)="onDelete($event, user.id)"
          [style]="{ height: '40px', width: '40px' }"
          [disabled]="user.id == currentUserId"
        />
      </td>
      <p-confirmDialog key="{{ user.id }}" />
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6" class="text-center p-4">
        <div class="flex flex-column align-items-center gap-2">
          <i class="pi pi-info-circle text-4xl text-primary"></i>
          <span class="font-semibold text-lg">No users data available</span>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

@if (withActionButtons) {
<p-toast position="bottom-right" />
}

<p-dialog
  [header]="dialogHeader"
  [modal]="true"
  [(visible)]="visible"
  [maximizable]="true"
  class="absolute z-3"
>
  @if (currentDialogType === dialogType.DETAIL) {
  <app-user-detail [userData]="selectedUser" />
  } @else {
  <app-user-form
    [userData]="selectedUser"
    (submit)="onSubmit()"
    (onCancel)="this.visible = false"
    (showToast)="showToast($event)"
    (toggleDialog)="toggleDialog($event)"
  />
  }
</p-dialog>
