#logout {
  margin-right: 20px;
}

#menu-bar a {
  padding: 0.75rem 0.5rem;
}
.custom-menubar .p-menuitem-link.router-link-active {
  background-color: #dff0d8;
  color: #3c763d;
}
.p-menubar-start {
  margin-right: 10px;
}

#profil {
  margin-right: 10px;
}

:host
  ::ng-deep
  .p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link {
  padding: 0.75rem 0.5rem;
  -webkit-user-select: none;
  user-select: none;
}

.centered-menubar {
  .p-menubar-root-list {
    justify-content: center;
    width: 100%;
  }
}

:host ::ng-deep {
  .p-menubar {
    .p-menuitem-link {
      &.active-route {
        background-color: var(--primary-color) !important;
        color: var(--primary-color-text) !important;

        .p-menuitem-text,
        .p-menuitem-icon {
          color: var(--primary-color-text) !important;
        }
      }
    }

    .p-submenu-list {
      .p-menuitem-link {
        &.active-route {
          background-color: var(--primary-color) !important;
          color: var(--primary-color-text) !important;

          .p-menuitem-text,
          .p-menuitem-icon {
            color: var(--primary-color-text) !important;
          }
        }
      }
    }
  }
}
