#logout {
  margin-right: 30px;
}

#menu-bar a {
  padding: 0.75rem 0.5rem;
}
.custom-menubar .p-menuitem-link.router-link-active {
  background-color: #dff0d8 !important;
  color: #3c763d !important;
}
