<div class="navbar">
  <div class="navbar-start"></div>
  <div class="navbar-center">
    <p-menubar
      id="menu-bar"
      [model]="items"
      class="custom-menubar"
      [style]="{ 'font-size': '14px', 'background-color': '' }"
    >
      <ng-template pTemplate="start">
        <button
          pRipple
          class="relative overflow-hidden w-full p-link flex align-items-center p-2 pl-3 text-color hover:surface-200 border-noround"
          routerLink="/"
          id="profil"
        >
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/walter.jpg"
            class="mr-2"
            shape="circle"
          />
          <span class="inline-flex flex-column">
            <span class="font-bold">{{ username }}</span>
            <span class="text-sm">HR</span>
          </span>
        </button>
      </ng-template>
      <p-button
        id="logout"
        label="Logout"
        severity="danger"
        (onClick)="authService.logout()"
      />
    </p-menubar>
  </div>
</div>
