:host ::ng-deep .custom-table {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

:host ::ng-deep .custom-header {
  background-color: #f1f1f1;
  color: #000000;
  font-weight: bold;
  text-align: center;
  padding: 0.75rem;
  border-bottom: 2px solid #e5e4e4;
}

// :host ::ng-deep .p-datatable tbody tr:hover {
//   background-color: rgba(76, 175, 80, 0.1);
// }

:host ::ng-deep .p-datatable tbody td {
  padding: 0.5rem 1rem;
}
.custom-dropdown {
  z-index: 10;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  :host ::ng-deep .p-dropdown {
    width: 200px;
  }

  .custom-dropdown {
    width: 200px; // Adjust width as needed
  }

  .error-message {
    display: block;
    width: 200px;
    text-align: left;
    margin-top: 0.25rem;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

td {
  position: relative;
  vertical-align: middle;
  min-height: 60px; // Add space for error message
}
