:host ::ng-deep .custom-table {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

:host ::ng-deep .custom-header {
  background-color: #f1f1f1;
  color: #000000;
  font-weight: bold;
  text-align: center;
  padding: 0.75rem;
  border-bottom: 2px solid #e5e4e4;
}

// :host ::ng-deep .p-datatable tbody tr:hover {
//   background-color: rgba(76, 175, 80, 0.1);
// }

:host ::ng-deep .p-datatable tbody td {
  padding: 0.5rem 1rem;
}
.custom-dropdown {
  z-index: 10;
}
