<div class="table-container">
  <div class="table-title">Achievement</div>
  <div style="display: flex; justify-content: center; padding: 20px">
    <p-table [value]="data" [style]="{ width: '80%', minWidth: '60rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th class="table-header" style="width: 40%">Aspek</th>
          <th class="table-header" style="width: 20%">Nilai</th>
          <th class="table-header" style="width: 20%">Bobot</th>
          <th class="table-header" style="width: 20%">Nilai Akhir</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.aspek }}</td>
          <td style="text-align: center">{{ item.nilai }}</td>
          <td style="text-align: center">{{ item.bobot }}</td>
          <td style="text-align: center">{{ item.nilaiAkhir }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
