:host ::ng-deep {
  .p-datatable-header {
    border-radius: 8px;
  }
  .p-paginator {
    border-radius: 8px;
  }
}
:host ::ng-deep {
  .year-dropdown {
    .p-dropdown-label {
      padding: 0.4rem 0.75rem;
      font-size: 14px;
    }
    .p-dropdown-trigger {
      width: 2.5rem;
    }
  }
}
:host ::ng-deep {
  .p-column-filter {
    .p-column-filter-clear-button {
      visibility: visible !important;
      opacity: 1 !important;
      right: -45px;
    }
  }
}

@keyframes typingPlaceholder {
  0% {
    content: "S|";
  }
  5% {
    content: "Se|";
  }
  10% {
    content: "Sea|";
  }
  15% {
    content: "Sear|";
  }
  20% {
    content: "Searc|";
  }
  25% {
    content: "Search|";
  }
  30% {
    content: "Search |";
  }
  35% {
    content: "Search b|";
  }
  40% {
    content: "Search by|";
  }
  45% {
    content: "Search by |";
  }
  50% {
    content: "Search by a|";
  }
  55% {
    content: "Search by at|";
  }
  60% {
    content: "Search by att|";
  }
  65% {
    content: "Search by atti|";
  }
  70% {
    content: "Search by attit|";
  }
  75% {
    content: "Search by attitu|";
  }
  80% {
    content: "Search by attitud|";
  }
  85% {
    content: "Search by attitude|";
  }
  90% {
    content: "Search by attitude s|";
  }
  95% {
    content: "Search by attitude sk|";
  }
  96% {
    content: "Search by attitude ski|";
  }
  97% {
    content: "Search by attitude skil|";
  }
  98% {
    content: "Search by attitude skill|";
  }
  99% {
    content: "Search by attitude skill and|";
  }
  100% {
    content: "Search by attitude skill and group name";
  }
}

:host ::ng-deep {
  .p-inputtext {
    &::placeholder {
      position: relative;
    }

    &:placeholder-shown::placeholder {
      animation: typingPlaceholder 4s steps(40) infinite;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

// Add this class to your input element
.typing-placeholder {
  &::placeholder {
    opacity: 1 !important;
  }
}
