<app-navbar></app-navbar>
<div class="card surface-0 shadow-2 border-round-2xl" style="margin: 1rem">
  <p-table
    #attitudeSkillTable
    [scrollable]="true"
    scrollHeight="345px"
    [value]="Datas"
    dataKey="id"
    [rows]="10"
    [loading]="loading"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [tableStyle]="{
      'min-width': '50rem',
      'text-align': 'center',
      'font-size': '12px',
      margin: '0',
      'border-radius': '8px',
      'table-layout': 'fixed'
    }"
    [globalFilterFields]="['attitude_skill', 'group_id.group_name', 'enabled']"
    [style]="{ width: '100%' }"
    [sortField]="'created_at'"
    [sortOrder]="-1"
    groupRowsBy="group_id.group_name"
    rowGroupMode="subheader"
    [expandedRowKeys]="expandedRows"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-button
          id="btn-modal"
          (onClick)="showDialog()"
          label="Add Attitude Skill"
          icon="pi pi-plus"
          [style]="{ 'font-size': '12px', padding: '10px 16px' }"
        />
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            placeholder="Search keyword"
            (input)="onGlobalFilter(attitudeSkillTable, $event)"
            [style]="{ 'font-size': '14px' }"
          />
        </p-iconField>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 45%; text-align: center">Attitude Skill</th>
        <th style="width: 15%; text-align: center">Weight</th>
        <th style="width: 15%; text-align: center">Enabled</th>
        <th style="width: 25%; text-align: center">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="groupheader" let-data let-expanded="expanded">
      <tr [pRowToggler]="data" class="cursor-pointer">
        <td colspan="4" [style]="{ padding: '0.5rem' }">
          <div class="flex align-items-center gap-2 pl-2">
            <i
              [class]="[
                'mr-2',
                'pi',
                expanded ? 'pi-chevron-down' : 'pi-chevron-right'
              ]"
            ></i>
            <span class="font-bold text-xl text-primary">
              {{ data.group_id.group_name }}
            </span>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-data>
      <tr [style]="{ padding: '0.5rem' }">
        <td [style]="{ padding: '0.5rem' }">{{ data.attitude_skill }}</td>
        <td [style]="{ padding: '0.5rem', 'text-align': 'center' }">
          {{ data.group_id.percentage }}
        </td>
        <td [style]="{ padding: '0.5rem', 'text-align': 'center' }">
          <p-tag [severity]="data.enabled === true ? 'success' : 'danger'">
            {{ data.enabled === true ? "True" : "False" }}
          </p-tag>
        </td>
        <td
          style="
            justify-content: space-evenly;
            display: flex;
            align-items: center;
          "
          [style]="{ padding: '0.5rem' }"
        >
          <p-button
            (onClick)="showDialogDetail(data)"
            label=""
            icon="pi pi-info-circle"
            [rounded]="true"
            [raised]="true"
            [style]="{ height: '40px', width: '40px' }"
          />
          <p-button
            (onClick)="showEditDialog(data)"
            severity="success"
            icon="pi pi-pen-to-square"
            [rounded]="true"
            [raised]="true"
            [style]="{ height: '40px', width: '40px' }"
          />
          <p-button
            (onClick)="confirmDelete($event, data.id)"
            [outlined]="true"
            severity="danger"
            icon="pi pi-trash"
            [rounded]="true"
            [raised]="true"
            [style]="{ height: '40px', width: '40px' }"
          />
        </td>
        <p-confirmDialog key="{{ data.id }}" />
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4" class="text-center p-4">
          <div class="flex flex-column align-items-center gap-2">
            <i class="pi pi-info-circle text-4xl text-primary"></i>
            <span class="font-semibold text-lg"
              >No attitude skills data available</span
            >
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="Add Attitude Skill"
    [(visible)]="visible"
    [style]="{ width: '40rem' }"
  >
    <form #attitudeSKillForm="ngForm" (submit)="createAttitudeSkill()">
      <div class="flex align-items-center gap-6 mb-5">
        <label
          for="attitude skill"
          class="font-semibold w-6rem"
          style="width: 8rem; white-space: nowrap"
        >
          Attitude Skill<span class="text-red-600">*</span>
        </label>
        <div class="flex-auto">
          <input
            pInputText
            id="attitude skill"
            class="w-full"
            autocomplete="off"
            [(ngModel)]="newAttitudeSkill.attitude_skill"
            required
            name="attitude_skill"
            maxlength="100"
            #attitudeSkill="ngModel"
          />
          <div
            *ngIf="
              attitudeSkill.invalid &&
              (attitudeSkill.dirty || attitudeSkill.touched)
            "
          >
            <small
              class="p-error block mt-1"
              *ngIf="attitudeSkill.errors?.['required']"
            >
              Attitude skill name is required
            </small>
            <small
              class="p-error block mt-1"
              *ngIf="attitudeSkill.errors?.['maxlength']"
            >
              Attitude skill name cannot exceed 100 characters
            </small>
          </div>
        </div>
      </div>

      <div class="flex align-items-center gap-6 mb-5">
        <label
          for="Group name"
          class="font-semibold w-6rem"
          style="width: 8rem; white-space: nowrap"
        >
          Group name<span class="text-red-600">*</span>
        </label>
        <div class="flex-auto">
          <p-dropdown
            [options]="groupAttitudeSkillDropdown"
            [(ngModel)]="newAttitudeSkill.group_id"
            name="group_name"
            optionLabel="group_name"
            optionValue="id"
            placeholder="Select a group name"
            required
            #groupDropdown="ngModel"
            styleClass="w-full"
            appendTo="body"
          />
          <div
            *ngIf="
              groupDropdown.invalid &&
              (groupDropdown.dirty || groupDropdown.touched)
            "
          >
            <small
              class="p-error block mt-1"
              *ngIf="groupDropdown.errors?.['required']"
            >
              Please select a group
            </small>
          </div>
        </div>
      </div>
      <div class="flex align-items-center gap-6 mb-5">
        <label for="Enabled" class="font-semibold w-6rem">
          Enabled<span class="text-red-600">*</span>
        </label>
        <p-toggleButton
          [(ngModel)]="newAttitudeSkill.enabled"
          inputId="binary"
          requied
          name="enabled"
          onLabel="Enable"
          offLabel="Disable"
        />
      </div>
      <div class="flex justify-content-end gap-2">
        <p-button
          label="Cancel"
          severity="secondary"
          (onClick)="visible = false"
        />
        <p-button
          label="Save"
          (onClick)="visible = false"
          type="submit"
          [disabled]="attitudeSKillForm.invalid"
        />
      </div>
    </form>
  </p-dialog>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="Edit Attitude Skill"
    [(visible)]="editVisible"
    [style]="{ width: '40rem' }"
  >
    <form #editAttitudeSkillForm="ngForm" (submit)="updateAttitudeSkill()">
      <div class="flex align-items-center gap-6 mb-5">
        <label
          for="Attitude Skill"
          class="font-semibold w-6rem"
          style="width: 8rem; white-space: nowrap"
        >
          Attitude Skill<span class="text-red-600">*</span>
        </label>
        <div class="flex-auto">
          <input
            [(ngModel)]="editData.attitude_skill"
            pInputText
            id="Attitude Skill"
            class="w-full"
            autocomplete="off"
            required
            name="attitude_skill"
            maxlength="100"
            #editAttitudeSkill="ngModel"
          />
          <div
            *ngIf="
              editAttitudeSkill.invalid &&
              (editAttitudeSkill.dirty || editAttitudeSkill.touched)
            "
          >
            <small
              class="p-error block mt-1"
              *ngIf="editAttitudeSkill.errors?.['required']"
            >
              Attitude skill name is required
            </small>
            <small
              class="p-error block mt-1"
              *ngIf="editAttitudeSkill.errors?.['maxlength']"
            >
              Attitude skill name cannot exceed 100 characters
            </small>
          </div>
        </div>
      </div>

      <div class="flex align-items-center gap-6 mb-5">
        <label
          for="Group id"
          class="font-semibold w-6rem"
          style="width: 8rem; white-space: nowrap"
        >
          Group name<span class="text-red-600">*</span>
        </label>
        <div class="flex-auto">
          <p-dropdown
            [options]="groupAttitudeSkillDropdown"
            [(ngModel)]="editData.group_id"
            optionLabel="group_name"
            optionValue="id"
            placeholder="Select a group name"
            required
            name="group name"
            styleClass="w-full"
            #editGroupDropdown="ngModel"
            appendTo="body"
          />
          <div
            *ngIf="
              editGroupDropdown.invalid &&
              (editGroupDropdown.dirty || editGroupDropdown.touched)
            "
          >
            <small
              class="p-error block mt-1"
              *ngIf="editGroupDropdown.errors?.['required']"
            >
              Please select a group
            </small>
          </div>
        </div>
      </div>
      <div class="flex align-items-center gap-6 mb-5">
        <label for="Enabled" class="font-semibold w-6rem">
          Enabled<span class="text-red-600">*</span>
        </label>
        <p-toggleButton
          [(ngModel)]="editData.enabled"
          inputId="binary"
          requied
          name="enabled"
          onLabel="Enable"
          offLabel="Disable"
        />
      </div>
      <div class="flex justify-content-end gap-2">
        <p-button
          label="Cancel"
          severity="secondary"
          (onClick)="editVisible = false"
        />
        <p-button
          label="Save"
          (onClick)="editVisible = false"
          type="submit"
          [disabled]="editAttitudeSkillForm.invalid"
        />
      </div>
    </form>
  </p-dialog>
</div>
<div class="card flex justify-content-center">
  <p-dialog
    header="Attitude Skill Detail"
    [modal]="true"
    [(visible)]="detailVisible"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  >
    <div class="card">
      <p-table
        #attitudeSkillTable
        [value]="[dataDetail]"
        dataKey="id"
        [loading]="loading"
        [tableStyle]="{
          'min-width': '40rem',
          'text-align': 'center',
          'font-size': '12px',
          margin: '0'
        }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Field</th>
            <th>Data</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td>Id</td>
            <td>{{ data.id }}</td>
          </tr>
          <tr>
            <td>Attitude Skill</td>
            <td>{{ data.attitude_skill }}</td>
          </tr>
          <tr>
            <td>Group Id</td>
            <td>{{ data.group_id?.id }}</td>
          </tr>
          <tr>
            <td>Group Name</td>
            <td>{{ data.group_id?.group_name }}</td>
          </tr>
          <tr>
            <td>Weight</td>
            <td>{{ data.group_id?.percentage }}</td>
          </tr>
          <tr>
            <td>Enabled</td>
            <td>
              <p-tag [severity]="data.enabled === true ? 'success' : 'danger'">
                {{ data.enabled === true ? "True" : "False" }}
              </p-tag>
            </td>
          </tr>
          <tr>
            <td>Created At</td>
            <td>{{ data.created_at }}</td>
          </tr>
          <tr>
            <td>Created By</td>
            <td>{{ data.created_by }}</td>
          </tr>
          <tr>
            <td>Updated At</td>
            <td>{{ data.updated_at }}</td>
          </tr>
          <tr>
            <td>Updated By</td>
            <td>{{ data.updated_by }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-dialog>
</div>
