:host ::ng-deep .user-info-card {
  background-color: #f8f9fa; /* Warna latar belakang card */
  //   border: 1px solid #ddd; /* Garis tepi */
  border-radius: 8px; /* Sudut membulat */
  //   padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Efek bayangan */
  margin-top: 20px !important;
  box-shadow: 0 3px 14px 1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

:host ::ng-deep .user-info-card .highlight-label {
  color: #ffffff; /* Warna teks label */
  background-color: #a6d1f2; /* Warna highlight */
  padding: 0.2rem 0.5rem; /* Spasi internal */
  border-radius: 4px; /* Sudut membulat */
  font-weight: bold; /* Teks lebih tebal */
}

:host ::ng-deep .user-info-card .flex {
  flex-wrap: wrap; /* Responsif untuk layar kecil */
}

:host ::ng-deep .user-info-card .gap-2 span {
  color: #333; /* Warna teks konten */
}
:host ::ng-deep .p-card {
  box-shadow: 0 3px 14px 1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

:host ::ng-deep .p-card .p-card-content {
  padding: 0.5rem 0;
}
