<div class="my-4">
  <p-card class="user-info-card">
    <ng-template pTemplate="title">
      <div class="text-center font-bold text-lg">User Information</div>
    </ng-template>
    <div class="flex justify-content-evenly align-items-center">
      <div class="flex align-items-center gap-2">
        <span class="highlight-label">Name:</span>
        <span>{{ currentUser.full_name }}</span>
      </div>
      <div class="flex align-items-center gap-2">
        <span class="highlight-label">Position:</span>
        <span>{{ currentUser.position }}</span>
      </div>
      <div class="flex align-items-center gap-2">
        <span class="highlight-label">Division:</span>
        <span>{{ currentUser.division?.division_name }}</span>
      </div>
      <div class="flex align-items-center gap-2">
        <span class="highlight-label">Year:</span>
        <span>{{ currentYear }}</span>
      </div>
    </div>
  </p-card>
</div>
