/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

.z-9999 {
  z-index: 9999 !important;
}
.z-10k {
  z-index: 10000 !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(10px, -50%);
  }
  to {
    opacity: 1;
    transform: translate(0, -50%);
  }
}

.clickable-row {
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;

  &:hover {
    background-color: #f0f7ff !important;
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }

  td:last-child {
    position: relative;
  }
}

.navbar-link-active {
  color: #007bff;
  border-bottom: 2px solid #007bff;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  &:hover {
    color: #0056b3;
    border-bottom-color: #0056b3;
  }
}
