.inner-card {
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  margin: 10px;
  padding: 32px;
  border: 1px solid #e0e0e0;
}
:host ::ng-deep {
  #card-header {
    .p-card {
      margin-top: 1rem;
      background-color: var(--surface-card);
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

      .p-card-body {
        padding: 1.25rem;
      }
    }
  }
}
