<!-- <app-navbar /> -->
<div>
  <p-card id="card-header">
    <div class="flex justify-content-center align-items-center">
      <h2 class="text-xl font-semibold m-0">
        Employee Development Plans Assessment
      </h2>
    </div>
  </p-card>
</div>
<app-user-information />
@if (devPlans.length == 0) {
<div
  class="inner-card flex flex-column justify-content-center align-items-center"
  style="max-width: 1148px; margin: 0 auto"
>
  <i class="pi pi-info-circle text-6xl text-primary"></i>
  <h1>No Development Plans Available</h1>
</div>
} @else {
<form #empDevPlanForm="ngForm" class="card m-4">
  @for (devPlan of devPlans; track devPlan.id) {
  <div class="inner-card w-full mb-4" style="max-width: 1148px; margin: 0 auto">
    <div class="mb-4">
      <h2 class="text-xl font-bold mb-3 text-center">
        {{ devPlan.plan }}
      </h2>
      @for (inputForm of empDevPlans[devPlan.id]; track $index) {
      <div class="p-2 mb-2 border-1 border-round surface-border">
        <div class="flex flex-column md:flex-row gap-3 align-items-center mt-4">
          <div class="flex-1">
            <p-floatLabel>
              <input
                type="text"
                pInputText
                class="w-full"
                [(ngModel)]="empDevPlans[devPlan.id][$index].detail"
                [name]="'detail_' + devPlan.id + '_' + $index"
                placeholder="Enter details"
                [style]="{ '::placeholder': { color: 'red' } }"
                [disabled]="empDevPlans[devPlan.id][$index].id != undefined"
                #detailInput="ngModel"
                pattern=".*\S.*"
                required
              />
              <label [for]="'detail_' + devPlan.id + '_' + $index"
                >Detail@if (!empDevPlans[devPlan.id][$index].id) {
                <small class="text-red-600 ml-1">*</small>
                }</label
              >
            </p-floatLabel>
            @if (detailInput.invalid && (detailInput.dirty ||
            detailInput.touched)) {
            <small
              class="p-error block mt-1"
              *ngIf="detailInput.errors?.['required'] || detailInput.errors?.['pattern']"
            >
              Detail can't be empty!
            </small>
            }
          </div>
          <div class="flex gap-2" style="min-width: 2.5rem">
            @if (empDevPlans[devPlan.id].length > 1 &&
            empDevPlans[devPlan.id][$index].id == undefined) {
            <p-button
              icon="pi pi-trash"
              severity="danger"
              (onClick)="removeField(devPlan.id, $index)"
            />
            }
          </div>
        </div>
      </div>
      }
      <div class="flex justify-content-end mt-3">
        <p-button
          label="Add Field"
          icon="pi pi-plus"
          (onClick)="addField(devPlan.id)"
          severity="secondary"
        />
      </div>
    </div>
  </div>
  }
  <div class="flex justify-content-center mt-4">
    <p-button
      label="Submit"
      icon="pi pi-check"
      (onClick)="onSubmit()"
      severity="primary"
      [disabled]="empDevPlanForm.invalid || !submissible"
    />
  </div>
</form>
}
