<div
  class="card"
  style="width: 98.4%; margin-left: 9px"
  style="max-width: 1148px; margin: 0 auto"
>
  <p-card header="Give your suggestion">
    <form #suggestionForm="ngForm">
      <div class="flex flex-column gap-3">
        @for (suggestion of empSuggestionRequests; track $index) {
        <div class="flex align-items-start gap-2">
          <div class="card w-full" id="field-area">
            <div class="flex align-items-start gap-2">
              <textarea
                [(ngModel)]="empSuggestionRequests[$index].suggestion"
                pInputTextarea
                [name]="'suggestion_' + $index"
                rows="3"
                class="flex-grow-1"
                placeholder="Enter your suggestion here..."
                required
                maxlength="200"
                #textArea="ngModel"
                pattern=".*\S.*"
                [disabled]="
                  empSuggestionRequests[$index].id != undefined &&
                  !isEditing[empSuggestionRequests[$index].id!]
                "
              ></textarea>
              <div class="w-1 flex justify-content-between">
                @if (empSuggestionRequests[$index].id) { @if
                (isEditing[empSuggestionRequests[$index].id!]) {
                <p-button
                  icon="pi pi-save"
                  severity="success"
                  (onClick)="update($index)"
                  [disabled]="textArea.invalid"
                />
                } @else {
                <p-button
                  icon="pi pi-pencil"
                  severity="success"
                  (onClick)="startEditMode($index)"
                />
                } } @if (empSuggestionRequests[$index].id ||
                empSuggestionRequests.length > 1) { @if
                (empSuggestionRequests[$index].id != undefined &&
                isEditing[empSuggestionRequests[$index].id!]) {
                <p-button
                  icon="pi pi-times"
                  severity="danger"
                  (onClick)="cancelEditMode($index)"
                />
                } @else {
                <p-button
                  icon="pi pi-trash"
                  severity="danger"
                  (onClick)="deleteSuggestion($index)"
                />
                } }
              </div>
            </div>
            <div
              *ngIf="textArea.invalid && (textArea.dirty || textArea.touched)"
            >
              <small
                class="p-error block mt-1"
                *ngIf="textArea.errors?.['required'] || textArea.errors?.['pattern']"
              >
                Suggestion can't be empty!
              </small>
              <small
                class="p-error block mt-1"
                *ngIf="textArea.errors?.['maxlength']"
              >
                Suggestion cannot exceed 200 characters
              </small>
            </div>
          </div>
        </div>
        }
        <div class="button flex gap-2 ml-3">
          <p-button
            icon="pi pi-plus"
            severity="success"
            (onClick)="addSuggestion()"
            pTooltip="Add text area"
            [disabled]="empSuggestionRequests.length >= 10"
            label="Add another"
          ></p-button>
          <p-button
            severity="primary"
            type="submit"
            label="Submit Suggestion"
            [disabled]="suggestionForm.invalid || !submissible()"
            (onClick)="createSuggestion()"
          />
        </div>
      </div>
    </form>
  </p-card>
</div>
