@if (isLoading) {
<div class="card flex justify-content-center">
  <p-progressSpinner
    styleClass="w-4rem h-4rem"
    strokeWidth="8"
    animationDuration=".5s"
  />
</div>
} @else { @if(!assessmentSummaryAvailable) {
<div class="flex justify-content-center my-4">
  <p-message
    severity="error"
    text="Assessments for {{ year }} have not been filled!"
  />
</div>
}
<div class="button-export">
  @if (showApproveButton) {
  <p-button
    icon="pi pi-check-circle"
    label="Approve"
    (onClick)="onApprove(summary.id)"
    severity="primary"
    [disabled]="summary.approval_status == 1"
  />
  }
  <p-button
    icon="pi pi-file-excel"
    label="Export to Excel"
    (onClick)="exportToExcel()"
    severity="success"
    [disabled]="!assessmentSummaryAvailable"
  ></p-button>
  <p-button
    icon="pi pi-file-pdf"
    label="Export to pdf"
    (onClick)="exportToPDF()"
    severity="warning"
    [disabled]="!assessmentSummaryAvailable"
  ></p-button>
</div>
<app-table
  [data]="summary.attitude_skills!"
  tableHeader="Attitude Skills"
  [isScoreCategorical]="true"
  updateFunction="updateAttitudeSkill"
  (onButtonClick)="attitudeSkill($event)"
/>
<app-table
  [data]="summary.achievements!"
  tableHeader="Achievements"
  updateFunction="updateAchievement"
  (onButtonClick)="achievement($event)"
/>

<div class="flex justify-content-center w-full py-4">
  <div class="surface-card p-4 border-round w-3 min-w-max shadow-1">
    <div class="flex flex-column gap-3">
      <div class="flex justify-content-between align-items-center">
        <span class="text-lg font-medium text-700">
          Total Percentage<span class="pl-3">:</span>
        </span>
        <span class="text-xl font-bold text-primary">
          {{ percentage | number : "1.0-2" }}%
        </span>
      </div>
      <div class="flex justify-content-between align-items-center">
        <span class="text-lg font-medium text-700">
          Total Score<span class="pl-7">:</span>
        </span>
        <span class="text-xl font-bold text-primary">
          {{ summary.score | number : "1.0-2" }}
        </span>
      </div>
    </div>
  </div>
</div>
}
